# Most recent undergraduate rankings of US universities
___
There are 3 ranking systems: CWUR, Times and Shanghai.

Shanghai "*considers every university that has any Nobel Laureates, Fields Medalists, Highly Cited Researchers, or papers published in Nature or Science.*" It highly emphasises prestige so in the final scoring, its weight will be reduced by half relative to the other ranking systems. 

Likewise, CWUR favors similar prestige-related features so they will both be reduced in weight relative to the times dataset.

In [610]:
import pandas as pd
import numpy as np
%matplotlib inline

In [611]:
# import sqlalchemy libraries
import sqlalchemy as sqla
from sqlalchemy import create_engine, MetaData
from sqlalchemy_utils.functions import create_database, database_exists

In [612]:
# import scraping libraries
from lxml import etree

In [4]:
# create database if necessary and engine

dbname = 'postgres://postgres:postgres@localhost/college_rankings_db'
if not database_exists(dbname):
    create_database(dbname)
    print('database created')
else:
    print('database already exists')
    
engine = create_engine(dbname, echo=False)

database created

In [33]:
# add 3 tables to database for each ranking systems

relurl = '../datasets/world-university-ranking/'
ranks = {'cwur', 'times', 'shanghai', 'school_and_country_table'}

# just want the US universities
# shanghai countries are in separate table
# will eventually set primary key to 'university_name'
# so 'institution' must be replaced in cwur rankings

for rank in ranks:
    if rank == 'school_and_country_table':
        loc = relurl+rank+'.csv'
    else:
        loc = relurl+rank+'Data.csv'
    df = pd.read_csv(loc, sep=',', encoding='utf-8')
    df.rename(columns={'institution':'university_name', 'school_name':'university_name'}, inplace=True)
    df.to_sql(rank, engine, index=False, if_exists='replace')
    
# check tables in database
m = MetaData()
m.reflect(engine)
for table in m.tables.values():
    print(table.name)
    print(table.primary_key)
    print(table.c)

school_and_country_table
PrimaryKeyConstraint()
['school_and_country_table.university_name', 'school_and_country_table.country']
cwur
PrimaryKeyConstraint()
['cwur.world_rank', 'cwur.university_name', 'cwur.country', 'cwur.national_rank', 'cwur.quality_of_education', 'cwur.alumni_employment', 'cwur.quality_of_faculty', 'cwur.publications', 'cwur.influence', 'cwur.citations', 'cwur.broad_impact', 'cwur.patents', 'cwur.score', 'cwur.year']
times
PrimaryKeyConstraint()
['times.world_rank', 'times.university_name', 'times.country', 'times.teaching', 'times.international', 'times.research', 'times.citations', 'times.income', 'times.total_score', 'times.num_students', 'times.student_staff_ratio', 'times.international_students', 'times.female_male_ratio', 'times.year']
shanghai
PrimaryKeyConstraint()
['shanghai.world_rank', 'shanghai.university_name', 'shanghai.national_rank', 'shanghai.total_score', 'shanghai.alumni', 'shanghai.award', 'shanghai.hici', 'shanghai.ns', 'shanghai.pub', 'shanghai.pcp', 'shanghai.year']

In [36]:
# load sql magic

%load_ext sql
%sql postgres://postgres:postgres@localhost/college_rankings_db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: postgres@college_rankings_db'

In [291]:
# limit displayed results to prevent jupyter from crashing/hanging
%config SqlMagic.autolimit = 0
%config SqlMagic.displaylimit = 5
%config SqlMagic.autopandas=True

In [219]:
%%sql
/*
# add countries to shanghai table
# pandas is probably fastest to create table
# because don't have to specify columns and types
*/
SELECT * FROM shanghai As a
LEFT JOIN (
    SELECT university_name AS uname, country FROM school_and_country_table) AS b 
ON a.university_name = b.uname

4897 rows affected.

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year,uname,country
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005,Harvard University,United States of America
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005,University of Cambridge,United Kingdom
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005,Stanford University,United States of America
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005,"University of California, Berkeley",United States of America
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005,None,None
5,6,California Institute of Technology,5,67.1,59.2,68.6,59.8,65.8,52.5,100.0,2005,California Institute of Technology,United States of America
6,7,Columbia University,6,62.3,79.4,60.6,56.1,54.2,69.5,45.4,2005,Columbia University,United States of America
7,8,Princeton University,7,60.9,63.4,76.8,60.9,48.7,48.5,59.1,2005,Princeton University,United States of America
8,9,University of Chicago,8,60.1,75.6,81.9,50.3,44.7,56.4,42.2,2005,University of Chicago,United States of America
9,10,University of Oxford,2,59.7,64.3,59.1,48.4,55.6,68.4,53.2,2005,University of Oxford,United Kingdom
10,11,Yale University,9,56.9,52.1,44.5,60.3,57.2,63.9,49.3,2005,Yale University,United States of America
11,12,Cornell University,10,54.6,46.5,52.4,55.0,48.8,66.3,39.8,2005,Cornell University,United States of America
12,13,"University of California, San Diego",11,51.0,17.7,34.7,59.8,56.5,64.5,46.6,2005,"University of California, San Diego",United States of America
13,14,"University of California, Los Angeles",12,50.6,27.3,32.8,56.7,50.1,75.6,34.3,2005,"University of California, Los Angeles",United States of America
14,15,University of Pennsylvania,13,50.2,35.5,35.1,56.7,42.9,71.8,39.1,2005,University of Pennsylvania,United States of America
15,16,University of Wisconsin - Madison,14,49.2,43.0,36.3,52.1,46.3,68.7,29.0,2005,None,None
16,17,University of Washington,15,48.4,28.8,32.4,53.9,47.1,73.8,27.2,2005,University of Washington,United States of America
17,18,"University of California, San Francisco",16,47.8,0.0,37.6,55.6,57.9,58.8,45.2,2005,None,None
18,19,The Johns Hopkins University,17,46.9,51.4,28.3,41.6,52.2,67.7,24.9,2005,None,None
19,20,The University of Tokyo,1,46.7,36.0,14.4,38.5,52.1,86.5,34.7,2005,None,None
20,21,University of Michigan - Ann Arbor,18,44.9,43.0,0.0,61.9,43.0,76.5,30.9,2005,None,None
21,22,Kyoto University,2,43.8,39.7,34.1,34.2,37.0,72.3,31.1,2005,Kyoto University,Japan
22,23,"The Imperial College of Science, Technology an...",3,43.7,20.8,38.1,40.8,38.2,64.6,40.3,2005,None,None
23,24,University of Toronto,1,43.1,28.1,19.7,39.3,38.9,76.7,41.9,2005,University of Toronto,Canada
24,25,University of Illinois at Urbana-Champaign,19,42.8,41.6,37.4,44.4,34.1,58.0,26.0,2005,University of Illinois at Urbana-Champaign,United States of America
25,26,University College London,4,42.6,30.7,32.9,37.7,41.5,60.5,38.8,2005,University College London,United Kingdom
26,27,Swiss Federal Institute of Technology Zurich,1,41.7,40.2,37.0,35.1,41.1,43.4,52.4,2005,None,None
27,28,Washington University in St. Louis,20,40.7,25.1,26.6,38.5,46.5,53.9,39.9,2005,None,None
28,29,New York University,21,38.8,33.8,25.0,43.0,35.3,55.4,26.3,2005,New York University,United States of America
29,30,Rockefeller University,22,38.2,22.6,59.8,28.3,44.1,24.0,35.9,2005,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4867,401-500,University of Jena,29-39,NaN,0.0,0.0,0.0,9.3,34.0,17.1,2015,None,None
4868,401-500,University of Jyvaskyla,4-6,NaN,0.0,0.0,3.6,10.3,26.7,14.1,2015,None,None
4869,401-500,University of Konstanz,29-39,NaN,0.0,0.0,12.1,11.4,22.2,13.5,2015,University of Konstanz,Germany
4870,401-500,University of KwaZulu-Natal,3-4,NaN,0.0,0.0,3.6,8.4,32.8,16.6,2015,University of KwaZulu-Natal,South Africa
4871,401-500,University of Ljubljana,1,NaN,0.0,0.0,0.0,7.7,35.1,14.2,2015,University of Ljubljana,Slovenia
4872,401-500,"University of Maryland, Baltimore County",126-146,NaN,0.0,0.0,17.4,6.5,17.8,17.3,2015,"University of Maryland, Baltimore County",United States of America
4873,401-500,University of Milan - Bicocca,11-20,NaN,0.0,0.0,5.0,5.6,30.9,21.4,2015,None,None
4874,401-500,University of Nice Sophia Antipolis,19-22,NaN,0.0,0.0,3.6,16.3,26.2,12.7,2015,University of Nice Sophia Antipolis,France
4875,401-500,University of Oklahoma - Norman,126-146,NaN,0.0,0.0,5.1,10.0,28.0,14.0,2015,None,None
4876,401-500,University of Palermo,11-20,NaN,0.0,0.0,6.3,6.6,28.2,14.8,2015,University of Palermo,Italy
4877,401-500,University of Parma,11-20,NaN,0.0,0.0,13.6,2.1,26.7,19.6,2015,University of Parma,Italy
4878,401-500,University of Pavia,11-20,NaN,0.0,0.0,5.0,5.7,30.7,19.7,2015,University of Pavia,Italy
4879,401-500,University of Perugia,11-20,NaN,0.0,0.0,3.6,7.5,29.3,18.5,2015,None,None
4880,401-500,University of Quebec,19-20,NaN,0.0,0.0,0.0,9.8,33.3,16.8,2015,None,None
4881,401-500,University of Regensburg,29-39,NaN,0.0,0.0,3.6,13.9,27.7,15.2,2015,None,None
4882,401-500,University of Rennes 1,19-22,NaN,0.0,0.0,3.6,9.2,28.1,11.2,2015,University of Rennes 1,France
4883,401-500,University of Rhode Island,126-146,NaN,0.0,0.0,15.2,6.1,21.1,16.0,2015,None,None
4884,401-500,University of Roma - Tor Vergata,11-20,NaN,0.0,0.0,0.0,8.8,33.7,19.2,2015,None,None
4885,401-500,University of Rostock,29-39,NaN,0.0,0.0,8.6,8.4,25.0,13.5,2015,None,None
4886,401-500,University of Santiago Compostela,9-13,NaN,0.0,0.0,7.1,6.1,31.1,13.2,2015,None,None
4887,401-500,"University of Science, Malaysia",2,NaN,0.0,0.0,7.1,3.3,30.6,15.7,2015,None,None
4888,401-500,University of Seville,9-13,NaN,0.0,0.0,0.0,7.5,33.7,11.3,2015,University of Seville,Spain
4889,401-500,University of Surrey,34-37,NaN,0.0,0.0,8.6,4.9,27.0,18.0,2015,University of Surrey,United Kingdom
4890,401-500,University of Szeged,1-2,NaN,0.0,13.3,3.6,3.4,21.8,12.8,2015,University of Szeged,Hungary
4891,401-500,University of the Basque Country,9-13,NaN,0.0,0.0,3.6,7.1,36.1,13.5,2015,University of the Basque Country,Spain
4892,401-500,University of Trieste,11-20,NaN,0.0,0.0,5.0,10.9,25.1,20.1,2015,University of Trieste,Italy
4893,401-500,University of Zaragoza,9-13,NaN,0.0,0.0,7.6,5.1,33.3,13.1,2015,University of Zaragoza,Spain
4894,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015,None,None
4895,401-500,Vienna University of Technology,4-6,NaN,0.0,0.0,0.0,12.2,28.8,22.9,2015,Vienna University of Technology,Austria
4896,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015,Wake Forest University,United States of America

In [220]:
# result = _
# dfshang = result.DataFrame()
dfshang = result

In [225]:
# dfshang.columns
print(dfshang.shape)
dfshang.loc[(dfshang['country'].isnull()) & (dfshang['year']==dfshang['year'].max())]

(1883, 13)

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year,uname,country
4399,3,Massachusetts Institute of Technology (MIT),3,70.4,68.2,80.7,60.6,73.1,61.1,68.0,2015,None,None
4415,18,"University of California, San Francisco",16,44.5,0.0,39.9,46.8,53.5,59.5,34.9,2015,None,None
4416,20,Swiss Federal Institute of Technology Zurich,1,43.7,29.5,35.5,38.4,45.9,55.7,46.3,2015,None,None
4417,21,The University of Tokyo,1,42.0,30.8,14.1,41.9,48.6,70.8,28.8,2015,None,None
4418,22,University of Michigan-Ann Arbor,17,41.7,34.4,0.0,56.2,41.3,75.9,25.6,2015,None,None
4419,23,"The Imperial College of Science, Technology an...",4,41.5,14.5,35.8,44.2,34.5,62.0,38.0,2015,None,None
4420,24,University of Wisconsin - Madison,18,41.1,30.8,34.8,40.2,35.7,62.5,24.6,2015,None,None
4426,30,"University of Minnesota, Twin Cities",22,38.5,29.5,16.3,47.3,32.5,64.0,26.2,2015,None,None
4428,32,Washington University in St. Louis,24,37.4,22.9,24.9,40.7,41.8,50.5,26.0,2015,None,None
4429,33,Rockefeller University,25,36.5,17.0,59.8,30.3,40.9,19.0,39.6,2015,None,None
4430,34,University of Colorado at Boulder,26,36.0,12.6,34.1,37.1,36.0,45.0,34.2,2015,None,None
4432,36,Pierre and Marie Curie University - Paris 6,1,35.0,33.6,27.4,25.8,29.8,59.2,23.9,2015,None,None
4433,37,The University of Texas at Austin,27,34.8,16.2,16.3,38.6,37.5,56.0,26.6,2015,None,None
4437,41,The University of Manchester,5,33.6,18.5,32.6,27.1,26.1,56.2,25.6,2015,None,None
4438,41,University of Paris-Sud (Paris 11),2,33.6,30.3,54.3,16.8,17.4,47.3,26.6,2015,None,None
4440,44,The University of Melbourne,1,32.3,17.0,13.3,28.6,25.3,66.9,30.2,2015,None,None
4441,44,The University of Texas Southwestern Medical C...,31,32.3,18.5,34.5,31.1,35.6,35.8,22.4,2015,None,None
4443,47,The University of Edinburgh,6,32.0,20.5,24.9,25.8,30.5,51.9,25.9,2015,None,None
4447,51,Technical University Munich,2,30.5,34.8,21.6,22.3,23.2,48.3,32.3,2015,None,None
4448,52,University of Munich,3,30.3,25.6,19.1,20.3,28.9,50.7,32.6,2015,None,None
4451,55,King's College London,7,30.0,21.2,21.0,29.5,18.2,54.3,25.6,2015,None,None
4456,60,Pennsylvania State University - University Park,36,29.3,10.3,0.0,41.6,31.6,53.4,22.4,2015,None,None
4458,61,Purdue University - West Lafayette,37,29.2,13.6,23.1,27.7,25.1,49.0,22.4,2015,None,None
4461,64,"Rutgers, The State University of New Jersey - ...",39,28.5,10.3,18.8,34.5,24.8,44.6,22.9,2015,None,None
4463,67,The Hebrew University of Jerusalem,1,28.2,32.0,28.2,19.6,21.5,37.6,29.1,2015,None,None
4464,67,The Ohio State University - Columbus,40,28.2,12.6,0.0,38.3,22.8,60.9,18.9,2015,None,None
4466,70,"University of Pittsburgh, Pittsburgh Campus",41,28.1,18.5,0.0,39.8,19.2,59.6,18.3,2015,None,None
4468,72,Ecole Normale Superieure - Paris,3,27.6,48.9,28.0,6.2,19.5,26.4,60.5,2015,None,None
4475,77,Technion-Israel Institute of Technology,2,26.7,23.5,37.6,15.2,18.3,33.3,28.2,2015,None,None
4476,77,The Australian National University,2,26.7,13.6,19.2,24.8,20.1,45.1,29.1,2015,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4828,401-500,Nanjing Medical University,28-32,NaN,0.0,0.0,0.0,3.9,34.9,29.7,2015,None,None
4829,401-500,Nara Institute of Science and Technology,13-18,NaN,0.0,0.0,13.3,13.5,13.9,11.4,2015,None,None
4833,401-500,Peking Union Medical College,28-32,NaN,0.0,0.0,0.0,10.8,33.6,17.1,2015,None,None
4841,401-500,State University of New York Health Science Ce...,126-146,NaN,0.0,15.4,5.1,6.7,15.3,17.3,2015,None,None
4843,401-500,Stockholm School of Economics,11,NaN,0.0,16.3,0.0,NaN,10.2,39.4,2015,None,None
4845,401-500,Technical University Darmstadt,29-39,NaN,14.5,0.0,3.6,7.6,27.8,15.0,2015,None,None
4846,401-500,Technical University of Braunschweig,29-39,NaN,12.6,0.0,3.6,8.6,22.3,12.6,2015,None,None
4848,401-500,The University of Texas Medical Branch at Galv...,126-146,NaN,0.0,0.0,13.9,5.5,21.3,13.8,2015,None,None
4849,401-500,The University of Tokushima,13-18,NaN,13.6,0.0,5.1,8.0,19.7,14.7,2015,None,None
4850,401-500,Tokyo Medical and Dental University,13-18,NaN,0.0,0.0,3.6,9.2,23.9,23.2,2015,None,None
4852,401-500,University of Alaska - Fairbanks,126-146,NaN,0.0,0.0,12.2,11.7,19.3,15.7,2015,None,None
4853,401-500,University of Arkansas at Fayetteville,126-146,NaN,0.0,0.0,12.2,6.1,24.4,14.1,2015,None,None
4854,401-500,University of Arkansas at Little Rock,126-146,NaN,0.0,0.0,10.7,2.1,24.4,19.9,2015,None,None
4855,401-500,University of Auvergne,19-22,NaN,0.0,0.0,7.1,10.5,25.0,16.1,2015,None,None
4857,401-500,University of Bayreuth,29-39,NaN,0.0,0.0,8.6,13.3,21.5,13.0,2015,None,None
4865,401-500,University of Halle-Wittenberg,29-39,NaN,0.0,6.7,3.6,9.4,25.9,14.0,2015,None,None
4866,401-500,University of Hannover,29-39,NaN,0.0,0.0,8.6,10.6,24.8,13.8,2015,None,None
4867,401-500,University of Jena,29-39,NaN,0.0,0.0,0.0,9.3,34.0,17.1,2015,None,None
4868,401-500,University of Jyvaskyla,4-6,NaN,0.0,0.0,3.6,10.3,26.7,14.1,2015,None,None
4873,401-500,University of Milan - Bicocca,11-20,NaN,0.0,0.0,5.0,5.6,30.9,21.4,2015,None,None
4875,401-500,University of Oklahoma - Norman,126-146,NaN,0.0,0.0,5.1,10.0,28.0,14.0,2015,None,None
4879,401-500,University of Perugia,11-20,NaN,0.0,0.0,3.6,7.5,29.3,18.5,2015,None,None
4880,401-500,University of Quebec,19-20,NaN,0.0,0.0,0.0,9.8,33.3,16.8,2015,None,None
4881,401-500,University of Regensburg,29-39,NaN,0.0,0.0,3.6,13.9,27.7,15.2,2015,None,None
4883,401-500,University of Rhode Island,126-146,NaN,0.0,0.0,15.2,6.1,21.1,16.0,2015,None,None
4884,401-500,University of Roma - Tor Vergata,11-20,NaN,0.0,0.0,0.0,8.8,33.7,19.2,2015,None,None
4885,401-500,University of Rostock,29-39,NaN,0.0,0.0,8.6,8.4,25.0,13.5,2015,None,None
4886,401-500,University of Santiago Compostela,9-13,NaN,0.0,0.0,7.1,6.1,31.1,13.2,2015,None,None
4887,401-500,"University of Science, Malaysia",2,NaN,0.0,0.0,7.1,3.3,30.6,15.7,2015,None,None
4894,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015,None,None

## Scrape Shanghai ranking for US 2015 straight from website

In [229]:
# many universities have slightly different names so this csv is pretty useless
# instead scrape 2015 data straight from website
shurl = 'http://www.shanghairanking.com/World-University-Rankings-2015/USA.html'
parser = etree.HTMLParser()
treeus2015 = etree.parse(shurl, parser)

In [249]:
alltds = treeus2015.findall('//tr[@class="bgfd"]')
alltds.extend(treeus2015.findall('//tr[@class="bgf5"]'))
print(len(alltds))

146

In [278]:
# create lists (ordered) with rank and name then add to dataframe
shranks = []
shnames = []

for td in alltds:
    shranks.append(int(re.match('\d+', td.find('./td/div').text).group()))
    shnames.append(td.find('.td/a').text)
    
dfscrape = pd.DataFrame(list(zip(shnames,shranks)), columns=['university_name', 'national_rank'])
dfscrape.sort_values('national_rank',inplace=True)
dfscrape.reset_index(inplace=True, drop=True)

In [279]:
dfscrape.head()

                               university_name  national_rank
0                           Harvard University              1
1                          Stanford University              2
2  Massachusetts Institute of Technology (MIT)              3
3           University of California, Berkeley              4
4                         Princeton University              5

In [577]:
%%sql
/*
# this script selects the maximum year for each university_name
*/
SELECT * from shanghai As a
INNER JOIN (
    SELECT university_name AS uname, MAX(year) AS yr
    FROM shanghai
    GROUP BY university_name
) As b ON a.university_name = b.uname AND a.year = b.yr

658 rows affected.

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year,uname,yr
0,301-400,"University of Technology, Sydney",12-19,NaN,0.0,0.0,14.3,3.9,28.5,19.1,2015,"University of Technology, Sydney",2015
1,101-150,Icahn School of Medicine at Mount Sinai,52-65,NaN,0.0,0.0,26.8,25.0,36.6,21.5,2015,Icahn School of Medicine at Mount Sinai,2015
2,301-400,Scuola Normale Superiore - Pisa,9-10,NaN,0.0,0.0,7.2,6.1,17.2,57.2,2015,Scuola Normale Superiore - Pisa,2015
3,201-300,Xian Jiao Tong University,8-13,NaN,0.0,0.0,8.7,7.7,50.1,18.9,2015,Xian Jiao Tong University,2015
4,77,Technion-Israel Institute of Technology,2,26.7,23.5,37.6,15.2,18.3,33.3,28.2,2015,Technion-Israel Institute of Technology,2015
5,401-500,Victoria University of Wellington,3-4,NaN,11.8,0.0,0.0,8.4,25.0,18.4,2014,Victoria University of Wellington,2014
6,401-500,University of Calcutta,2-3,NaN,15.4,12.9,0.0,0.0,14.7,9.5,2005,University of Calcutta,2005
7,301-400,The Hong Kong Polytechnic University,5,NaN,0.0,0.0,11.3,4.9,38.7,18.9,2015,The Hong Kong Polytechnic University,2015
8,201-300,University of Bordeaux,9-15,NaN,0.0,0.0,15.9,17.9,39.7,16.0,2015,University of Bordeaux,2015
9,101-150,University of Goettingen,5-8,NaN,30.8,14.9,13.1,20.0,38.9,25.6,2015,University of Goettingen,2015
10,101-150,University Libre Bruxelles,3-4,NaN,20.4,26.6,11.3,11.8,34.6,30.8,2014,University Libre Bruxelles,2014
11,151-200,University of Milan,1-5,NaN,17.0,0.0,14.2,9.6,46.3,21.2,2015,University of Milan,2015
12,101-150,National University of Singapore,1,NaN,0.0,0.0,19.3,20.3,59.5,32.2,2015,National University of Singapore,2015
13,401-500,Technical University of Braunschweig,29-39,NaN,12.6,0.0,3.6,8.6,22.3,12.6,2015,Technical University of Braunschweig,2015
14,403-510,"Birkbeck, University of London",38-42,NaN,0.0,0.0,7.4,5.2,18.7,21.3,2007,"Birkbeck, University of London",2007
15,401-500,University of Coimbra,3,NaN,0.0,0.0,0.0,7.2,32.9,16.3,2015,University of Coimbra,2015
16,403-510,Old Dominion University,141-166,NaN,0.0,0.0,10.5,7.0,18.0,11.9,2007,Old Dominion University,2007
17,401-500,University of Surrey,34-37,NaN,0.0,0.0,8.6,4.9,27.0,18.0,2015,University of Surrey,2015
18,401-500,University of Haifa,7,NaN,0.0,0.0,7.2,6.5,26.8,13.2,2011,University of Haifa,2011
19,301-400,University of Malaya,1,NaN,0.0,0.0,5.0,0.0,43.9,21.6,2015,University of Malaya,2015
20,301-400,Georgetown University,103-125,NaN,0.0,0.0,11.1,7.5,31.7,17.9,2015,Georgetown University,2015
21,151-200,The University of Adelaide,8,NaN,14.5,0.0,16.3,12.9,42.0,25.7,2015,The University of Adelaide,2015
22,401-500,Niigata University,17-23,NaN,0.0,0.0,12.5,5.9,24.6,13.0,2011,Niigata University,2011
23,101-150,Shanghai Jiao Tong University,1-4,NaN,0.0,0.0,12.6,10.6,68.5,23.0,2015,Shanghai Jiao Tong University,2015
24,401-500,Beijing University of Aeronautics and Astronau...,13-23,NaN,0.0,0.0,7.2,3.4,30.7,12.0,2011,Beijing University of Aeronautics and Astronau...,2011
25,301-400,ESPCI ParisTech,16-18,NaN,7.3,18.8,0.0,10.3,15.0,29.3,2015,ESPCI ParisTech,2015
26,46,Heidelberg University,1,32.2,19.9,25.3,23.7,29.4,51.7,34.2,2015,Heidelberg University,2015
27,101-152,College of France,5,NaN,15.4,37.4,11.1,11.7,16.9,19.3,2005,College of France,2005
28,201-300,University of Tehran,1,NaN,12.6,0.0,10.0,0.0,40.0,21.0,2015,University of Tehran,2015
29,401-500,Nagasaki University,17-23,NaN,13.2,0.0,10.2,3.5,22.4,10.3,2011,Nagasaki University,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,402-501,Kumamoto University,20-31,NaN,0.0,0.0,7.3,5.4,25.5,15.7,2009,Kumamoto University,2009
629,201-300,National Tsing Hua University,2,NaN,12.6,0.0,5.1,12.9,32.6,21.1,2015,National Tsing Hua University,2015
630,201-300,The University of Texas Health Science Center ...,79-102,NaN,0.0,15.4,13.9,11.3,31.9,16.8,2015,The University of Texas Health Science Center ...,2015
631,401-500,Aristotle University of Thessaloniki,2,NaN,0.0,0.0,4.9,1.5,34.0,16.8,2015,Aristotle University of Thessaloniki,2015
632,101-150,Tsinghua University,1-4,NaN,10.3,0.0,10.0,26.8,63.8,20.2,2015,Tsinghua University,2015
633,403-510,The College of William and Mary,141-166,NaN,0.0,0.0,7.4,8.2,20.3,12.8,2007,The College of William and Mary,2007
634,73,Boston University,42,27.3,11.5,11.5,29.1,26.3,49.5,21.8,2015,Boston University,2015
635,201-300,Curtin University,9-11,NaN,0.0,0.0,8.7,12.0,37.1,23.3,2015,Curtin University,2015
636,301-400,Tulane University,103-125,NaN,0.0,0.0,12.2,8.7,26.1,15.0,2015,Tulane University,2015
637,64,"Rutgers, The State University of New Jersey - ...",39,28.5,10.3,18.8,34.5,24.8,44.6,22.9,2015,"Rutgers, The State University of New Jersey - ...",2015
638,201-300,University of Leipzig,14-21,NaN,11.5,13.3,0.0,9.3,33.8,18.6,2015,University of Leipzig,2015
639,201-300,University of Guelph,7-16,NaN,0.0,0.0,17.5,10.4,31.8,19.4,2015,University of Guelph,2015
640,44,The University of Melbourne,1,32.3,17.0,13.3,28.6,25.3,66.9,30.2,2015,The University of Melbourne,2015
641,301-400,Pohang University of Science and Technology,6-8,NaN,0.0,0.0,7.1,9.1,29.9,31.9,2015,Pohang University of Science and Technology,2015
642,201-300,Polytechnic Institute of Milan,6-8,NaN,7.3,14.9,5.0,7.0,32.9,20.4,2015,Polytechnic Institute of Milan,2015
643,401-500,University of Auvergne,19-22,NaN,0.0,0.0,7.1,10.5,25.0,16.1,2015,University of Auvergne,2015
644,84,Rice University,45,26.0,16.2,21.7,28.1,22.8,29.2,34.3,2015,Rice University,2015
645,201-300,University of Ottawa,7-16,NaN,0.0,0.0,8.6,14.9,44.0,19.5,2015,University of Ottawa,2015
646,24,University of Wisconsin - Madison,18,41.1,30.8,34.8,40.2,35.7,62.5,24.6,2015,University of Wisconsin - Madison,2015
647,201-300,Macquarie University,9-11,NaN,0.0,0.0,18.1,13.1,33.6,25.1,2015,Macquarie University,2015
648,401-500,Tokyo University of Agriculture and Technology,18-25,NaN,0.0,0.0,7.2,3.3,23.6,19.7,2010,Tokyo University of Agriculture and Technology,2010
649,151-200,University of Kiel,9-13,NaN,10.3,13.3,13.8,13.7,29.7,18.8,2015,University of Kiel,2015
650,402-501,Southern Methodist University,139-152,NaN,13.4,0.0,7.3,4.7,18.3,13.0,2009,Southern Methodist University,2009
651,301-400,University of Karlsruhe,24-33,NaN,5.3,0.0,10.2,12.8,30.9,15.4,2010,University of Karlsruhe,2010
652,83,University of Florida,44,26.2,17.0,0.0,30.9,21.0,58.7,17.3,2015,University of Florida,2015
653,301-400,Jagiellonian University,1-2,NaN,10.3,0.0,3.6,5.9,33.6,17.1,2015,Jagiellonian University,2015
654,401-500,University of Sherbrooke,19-22,NaN,0.0,0.0,7.2,12.1,25.3,12.1,2011,University of Sherbrooke,2011
655,151-200,University of Vienna,1,NaN,13.6,0.0,15.9,21.1,36.5,23.9,2015,University of Vienna,2015
656,401-500,Sharif University of Technology,2,NaN,15.4,0.0,3.6,0.0,29.1,15.3,2015,Sharif University of Technology,2015
657,101-150,University of Nottingham,10-17,NaN,11.5,20.0,19.1,15.9,45.9,20.1,2015,University of Nottingham,2015

In [578]:
%%sql
/*
# load in all of shanghai 2015 data from csv
*/
SELECT * FROM shanghai WHERE year=(
    SELECT MAX(year) FROM shanghai
)

500 rows affected.

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,76.6,2015
1,2,Stanford University,2,73.3,40.7,89.6,80.1,70.1,70.6,53.8,2015
2,3,Massachusetts Institute of Technology (MIT),3,70.4,68.2,80.7,60.6,73.1,61.1,68.0,2015
3,4,"University of California, Berkeley",4,69.6,65.1,79.4,66.1,65.6,67.9,56.5,2015
4,5,University of Cambridge,1,68.8,77.1,96.6,50.8,55.6,66.4,55.8,2015
5,6,Princeton University,5,61.0,53.3,93.4,57.1,43.0,42.4,70.3,2015
6,7,California Institute of Technology,6,59.6,49.5,66.7,49.3,56.4,44.0,100.0,2015
7,8,Columbia University,7,58.8,63.5,65.9,52.1,51.9,68.8,33.2,2015
8,9,University of Chicago,8,57.1,59.8,86.3,49.0,42.9,49.8,42.0,2015
9,10,University of Oxford,2,56.6,49.7,54.9,52.3,51.9,70.9,43.1,2015
10,11,Yale University,9,54.5,47.6,50.4,51.0,58.8,63.0,37.8,2015
11,12,"University of California, Los Angeles",10,50.7,29.5,47.1,52.3,47.2,70.7,31.6,2015
12,13,Cornell University,11,50.5,42.0,49.8,50.4,45.3,59.9,40.2,2015
13,14,"University of California, San Diego",12,48.7,19.2,35.5,56.6,55.1,62.9,36.6,2015
14,15,University of Washington,13,47.8,21.2,31.6,53.0,51.7,71.9,29.3,2015
15,16,Johns Hopkins University,14,46.3,37.7,33.6,44.0,44.9,70.2,28.8,2015
16,17,University of Pennsylvania,15,46.1,31.6,33.8,49.6,39.6,67.7,37.4,2015
17,18,University College London,3,44.5,28.1,36.2,38.5,40.6,71.7,32.7,2015
18,18,"University of California, San Francisco",16,44.5,0.0,39.9,46.8,53.5,59.5,34.9,2015
19,20,Swiss Federal Institute of Technology Zurich,1,43.7,29.5,35.5,38.4,45.9,55.7,46.3,2015
20,21,The University of Tokyo,1,42.0,30.8,14.1,41.9,48.6,70.8,28.8,2015
21,22,University of Michigan-Ann Arbor,17,41.7,34.4,0.0,56.2,41.3,75.9,25.6,2015
22,23,"The Imperial College of Science, Technology an...",4,41.5,14.5,35.8,44.2,34.5,62.0,38.0,2015
23,24,University of Wisconsin - Madison,18,41.1,30.8,34.8,40.2,35.7,62.5,24.6,2015
24,25,University of Toronto,1,40.6,19.9,17.2,38.8,38.6,79.1,29.3,2015
25,26,Kyoto University,2,38.9,31.6,37.2,33.6,32.6,59.0,23.5,2015
26,27,New York University,19,38.8,28.1,31.9,35.2,40.3,56.2,23.3,2015
27,27,Northwestern University,19,38.8,15.4,22.1,50.3,37.0,58.1,28.8,2015
28,29,University of Illinois at Urbana-Champaign,21,38.6,29.9,36.2,34.9,32.4,55.5,28.6,2015
29,30,"University of Minnesota, Twin Cities",22,38.5,29.5,16.3,47.3,32.5,64.0,26.2,2015
...,...,...,...,...,...,...,...,...,...,...,...
470,401-500,University of Jena,29-39,NaN,0.0,0.0,0.0,9.3,34.0,17.1,2015
471,401-500,University of Jyvaskyla,4-6,NaN,0.0,0.0,3.6,10.3,26.7,14.1,2015
472,401-500,University of Konstanz,29-39,NaN,0.0,0.0,12.1,11.4,22.2,13.5,2015
473,401-500,University of KwaZulu-Natal,3-4,NaN,0.0,0.0,3.6,8.4,32.8,16.6,2015
474,401-500,University of Ljubljana,1,NaN,0.0,0.0,0.0,7.7,35.1,14.2,2015
475,401-500,"University of Maryland, Baltimore County",126-146,NaN,0.0,0.0,17.4,6.5,17.8,17.3,2015
476,401-500,University of Milan - Bicocca,11-20,NaN,0.0,0.0,5.0,5.6,30.9,21.4,2015
477,401-500,University of Nice Sophia Antipolis,19-22,NaN,0.0,0.0,3.6,16.3,26.2,12.7,2015
478,401-500,University of Oklahoma - Norman,126-146,NaN,0.0,0.0,5.1,10.0,28.0,14.0,2015
479,401-500,University of Palermo,11-20,NaN,0.0,0.0,6.3,6.6,28.2,14.8,2015
480,401-500,University of Parma,11-20,NaN,0.0,0.0,13.6,2.1,26.7,19.6,2015
481,401-500,University of Pavia,11-20,NaN,0.0,0.0,5.0,5.7,30.7,19.7,2015
482,401-500,University of Perugia,11-20,NaN,0.0,0.0,3.6,7.5,29.3,18.5,2015
483,401-500,University of Quebec,19-20,NaN,0.0,0.0,0.0,9.8,33.3,16.8,2015
484,401-500,University of Regensburg,29-39,NaN,0.0,0.0,3.6,13.9,27.7,15.2,2015
485,401-500,University of Rennes 1,19-22,NaN,0.0,0.0,3.6,9.2,28.1,11.2,2015
486,401-500,University of Rhode Island,126-146,NaN,0.0,0.0,15.2,6.1,21.1,16.0,2015
487,401-500,University of Roma - Tor Vergata,11-20,NaN,0.0,0.0,0.0,8.8,33.7,19.2,2015
488,401-500,University of Rostock,29-39,NaN,0.0,0.0,8.6,8.4,25.0,13.5,2015
489,401-500,University of Santiago Compostela,9-13,NaN,0.0,0.0,7.1,6.1,31.1,13.2,2015
490,401-500,"University of Science, Malaysia",2,NaN,0.0,0.0,7.1,3.3,30.6,15.7,2015
491,401-500,University of Seville,9-13,NaN,0.0,0.0,0.0,7.5,33.7,11.3,2015
492,401-500,University of Surrey,34-37,NaN,0.0,0.0,8.6,4.9,27.0,18.0,2015
493,401-500,University of Szeged,1-2,NaN,0.0,13.3,3.6,3.4,21.8,12.8,2015
494,401-500,University of the Basque Country,9-13,NaN,0.0,0.0,3.6,7.1,36.1,13.5,2015
495,401-500,University of Trieste,11-20,NaN,0.0,0.0,5.0,10.9,25.1,20.1,2015
496,401-500,University of Zaragoza,9-13,NaN,0.0,0.0,7.6,5.1,33.3,13.1,2015
497,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
498,401-500,Vienna University of Technology,4-6,NaN,0.0,0.0,0.0,12.2,28.8,22.9,2015
499,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [579]:
# the _ selects the results of the last executed command

dfshang = _
print(dfshang.shape)

(500, 11)

In [580]:
# now innner join with existing shanghai database
dfshmerg = pd.merge(dfscrape, dfshang, how='inner', on='university_name', sort=False, suffixes=('_web', '_csv'))
dfshmerg.sort_values(['national_rank_web','university_name'], inplace=True)
newcols = [col for col in dfshmerg.columns.tolist() if col!='uname' and col!='yr' and col!='national_rank_csv' and 
          col!='world_rank']
dfshmerg = dfshmerg[newcols]
dfshmerg.rename(columns={'national_rank_web':'national_rank'}, inplace=True)
print(dfshmerg.shape)
dfshmerg.tail()

(146, 10)

,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
132,"University of Maryland, Baltimore County",126,NaN,0.0,0.0,17.4,6.5,17.8,17.3,2015
135,University of Oklahoma - Norman,126,NaN,0.0,0.0,5.1,10.0,28.0,14.0,2015
144,University of Rhode Island,126,NaN,0.0,0.0,15.2,6.1,21.1,16.0,2015
134,Utah State University,126,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
145,Wake Forest University,126,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [560]:
# prepare university names for joining with other databases.

def prepnames(df):
    ptrn = r'the | \(mit\)|, | - \w*| at |-| of | campus'
    df['university_name'] = df['university_name'].str.lower()
    df['university_name'] = df['university_name'].str.replace(ptrn, ' ')
    df['university_name'] = df['university_name'].str.strip()
    return df
    
dfshanghai = prepnames(dfshmerg)
print(dfshanghai.shape)
dfshanghai.tail(10)

(146, 10)

,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
138,texas tech university,126,NaN,0.0,0.0,5.1,3.3,31.6,15.1,2015
127,university texas medical branch galveston,126,NaN,0.0,0.0,13.9,5.5,21.3,13.8,2015
137,university alaska fairbanks,126,NaN,0.0,0.0,12.2,11.7,19.3,15.7,2015
126,university arkansas fayetteville,126,NaN,0.0,0.0,12.2,6.1,24.4,14.1,2015
136,university arkansas little rock,126,NaN,0.0,0.0,10.7,2.1,24.4,19.9,2015
132,university maryland baltimore county,126,NaN,0.0,0.0,17.4,6.5,17.8,17.3,2015
135,university oklahoma norman,126,NaN,0.0,0.0,5.1,10.0,28.0,14.0,2015
144,university rhode island,126,NaN,0.0,0.0,15.2,6.1,21.1,16.0,2015
134,utah state university,126,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
145,wake forest university,126,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

## Convert other rankings tables to dataframes

In [168]:
# find max years
ranks = {"cwur", "times", "shanghai"}
# ranks.remove('school_and_country_table')
maxyears = {}
for rank in ranks:
    val = pd.read_sql_query('SELECT max(year) FROM '+rank, engine).values[0][0]
    maxyears[rank]=val
maxyears

{'cwur': 2015, 'shanghai': 2015, 'times': 2016}

In [582]:
%%sql
SELECT * FROM cwur WHERE year=(
    SELECT MAX(year) FROM cwur
) AND country='USA'

229 rows affected.

,world_rank,university_name,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,1,1,1,1,1,1,1.0,3,100.00,2015
1,2,Stanford University,USA,2,9,2,4,5,3,3,4.0,10,98.66,2015
2,3,Massachusetts Institute of Technology,USA,3,3,11,2,15,2,2,2.0,1,97.54,2015
3,6,Columbia University,USA,4,13,6,9,13,13,11,12.0,4,96.14,2015
4,7,"University of California, Berkeley",USA,5,5,21,6,10,4,4,7.0,29,92.25,2015
5,8,University of Chicago,USA,6,11,14,8,17,16,12,22.0,141,90.70,2015
6,9,Princeton University,USA,7,4,15,3,72,25,24,33.0,225,89.42,2015
7,10,Cornell University,USA,8,12,18,14,24,15,25,22.0,11,86.79,2015
8,11,Yale University,USA,9,10,26,11,18,8,35,20.0,49,86.61,2015
9,12,California Institute of Technology,USA,10,6,328,7,53,9,19,25.0,13,84.40,2015
10,14,University of Pennsylvania,USA,11,20,4,28,8,18,14,9.0,14,77.60,2015
11,15,"University of California, Los Angeles",USA,12,28,27,13,6,14,8,6.0,9,76.91,2015
12,16,Johns Hopkins University,USA,13,18,84,16,4,11,5,3.0,2,71.60,2015
13,18,New York University,USA,14,32,22,18,47,29,46,32.0,43,68.39,2015
14,19,"University of Michigan, Ann Arbor",USA,15,24,17,140,3,20,6,14.0,12,68.36,2015
15,21,"University of California, San Diego",USA,16,36,567,19,16,5,15,15.0,17,66.59,2015
16,22,Northwestern University,USA,17,163,12,104,27,34,27,26.0,42,66.56,2015
17,25,University of Wisconsin–Madison,USA,18,29,29,34,21,24,22,27.0,27,64.51,2015
18,26,"University of California, San Francisco",USA,19,367,567,20,22,7,15,11.0,56,63.69,2015
19,28,Duke University,USA,20,74,31,56,19,23,15,16.0,33,61.55,2015
20,29,Rockefeller University,USA,21,49,567,12,372,28,115,70.0,289,61.28,2015
21,30,University of Texas at Austin,USA,22,75,36,25,48,50,26,71.0,38,61.14,2015
22,31,University of Washington - Seattle,USA,23,48,103,41,9,10,10,5.0,40,60.61,2015
23,33,University of Illinois at Urbana–Champaign,USA,24,33,75,21,40,48,42,74.0,65,59.94,2015
24,40,University of North Carolina at Chapel Hill,USA,25,124,69,86,32,32,19,21.0,41,57.09,2015
25,41,University of Virginia,USA,26,209,20,126,94,74,88,90.0,97,56.73,2015
26,43,"Purdue University, West Lafayette",USA,27,55,33,47,75,95,68,117.0,28,56.39,2015
27,44,Dartmouth College,USA,28,40,19,218,246,167,136,154.0,63,56.35,2015
28,46,University of Pittsburgh - Pittsburgh Campus,USA,29,79,169,218,25,57,21,24.0,50,55.63,2015
29,47,"Pennsylvania State University, University Park",USA,30,230,44,62,49,43,28,38.0,92,55.54,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,719,Howard University,USA,200,294,567,218,934,665,511,699.0,296,44.33,2015
200,723,"Rutgers, The State University of New Jersey - ...",USA,201,367,567,218,832,515,645,637.0,871,44.33,2015
201,746,University of Memphis,USA,202,367,382,218,782,640,511,741.0,394,44.30,2015
202,748,University of Missouri–St. Louis,USA,203,367,371,218,897,524,428,715.0,634,44.30,2015
203,752,University of Alabama in Huntsville,USA,204,367,567,218,921,432,645,659.0,805,44.30,2015
204,754,University of Mississippi Medical Center,USA,205,367,567,218,775,504,511,671.0,871,44.29,2015
205,761,New Jersey Institute of Technology,USA,206,259,472,218,791,670,812,741.0,391,44.28,2015
206,762,East Carolina University,USA,207,367,394,218,699,685,812,732.0,639,44.28,2015
207,766,Northern Arizona University,USA,208,367,537,218,939,489,645,686.0,609,44.28,2015
208,778,"University of North Texas, Denton",USA,209,367,567,218,675,636,645,715.0,554,44.27,2015
209,790,Michigan Technological University,USA,210,341,467,218,794,769,428,741.0,581,44.25,2015
210,792,North Dakota State University - Main Campus,USA,211,172,567,218,702,790,812,770.0,871,44.25,2015
211,794,University of North Carolina at Charlotte,USA,212,367,310,218,741,662,511,826.0,593,44.25,2015
212,809,Bowling Green State University,USA,213,367,373,218,910,705,645,781.0,824,44.23,2015
213,823,Florida Institute of Technology,USA,214,367,567,218,973,793,368,770.0,871,44.21,2015
214,825,University of Massachusetts Boston,USA,215,367,429,218,846,698,428,796.0,824,44.21,2015
215,832,The Catholic University of America,USA,216,367,407,218,947,596,511,809.0,674,44.20,2015
216,833,Wright State University - Dayton,USA,217,367,567,218,810,805,812,770.0,824,44.20,2015
217,835,Clarkson University,USA,218,367,390,218,981,974,812,809.0,685,44.19,2015
218,844,University of South Alabama,USA,219,367,567,218,979,784,812,796.0,464,44.19,2015
219,850,Hunter College,USA,220,261,438,218,822,610,812,826.0,805,44.18,2015
220,856,Florida Atlantic University,USA,221,367,567,218,855,741,812,796.0,714,44.17,2015
221,884,University of Massachusetts Lowell,USA,222,367,528,218,936,943,321,946.0,304,44.15,2015
222,893,"Queens College, City University of New York",USA,223,323,374,218,977,690,812,886.0,729,44.14,2015
223,897,University of North Carolina at Greensboro,USA,224,367,567,218,899,825,645,850.0,575,44.13,2015
224,901,University of Southern Mississippi,USA,225,367,567,218,913,853,812,850.0,676,44.13,2015
225,906,Oakland University,USA,226,367,567,218,888,810,812,850.0,871,44.13,2015
226,913,University of North Dakota,USA,227,367,567,218,917,731,812,867.0,606,44.12,2015
227,929,University of Texas at El Paso,USA,228,367,442,218,910,838,812,906.0,706,44.10,2015
228,936,"University of California, Merced",USA,229,367,567,218,899,540,812,906.0,491,44.09,2015

In [583]:
# repeat sql query using pandas built-in function
# give the repeated table different columns names so duplicates can be easily removed

def ranksqltopandas(table, country):
    query = '''
    SELECT * FROM {0} WHERE year=(
        SELECT MAX(year) FROM {0}
    ) AND country={1}
    '''.format(table, country)
    dfres = pd.read_sql_query(query, engine)

    # remove duplicates from sql self-join
    newcols = [col for col in dfres.columns.tolist() if col!='uname' and col!='yr']
    dfres = dfres[newcols]
    return dfres

results = []
for table,country in zip(["cwur", "times"], ["'USA'", "'United States of America'"]):
    res = ranksqltopandas(table, country)
    print(res.shape)
    results.append(res)

(229, 14)
(146, 14)

In [584]:
# results[0]['national_rank'].dtype

dfcwur = prepnames(results[0].copy())
dfcwur.drop(['world_rank', 'country'], axis=1, inplace=True)
dfcwur.sort_values(['national_rank', 'university_name'], axis=0, inplace=True)
dfcwur.reset_index(drop=True, inplace=True)
print(dfcwur.shape)
dfcwur.head(10)

(229, 12)

,university_name,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,harvard university,1,1,1,1,1,1,1,1.0,3,100.00,2015
1,stanford university,2,9,2,4,5,3,3,4.0,10,98.66,2015
2,massachusetts institute technology,3,3,11,2,15,2,2,2.0,1,97.54,2015
3,columbia university,4,13,6,9,13,13,11,12.0,4,96.14,2015
4,university california berkeley,5,5,21,6,10,4,4,7.0,29,92.25,2015
5,university chicago,6,11,14,8,17,16,12,22.0,141,90.70,2015
6,princeton university,7,4,15,3,72,25,24,33.0,225,89.42,2015
7,cornell university,8,12,18,14,24,15,25,22.0,11,86.79,2015
8,yale university,9,10,26,11,18,8,35,20.0,49,86.61,2015
9,california institute technology,10,6,328,7,53,9,19,25.0,13,84.40,2015

In [585]:
# results[1]['world_rank'].dtype
dftimes = prepnames(results[1].copy())
dftimes['world_rank'] = dftimes['world_rank'].str.replace('=','')
dftimes['world_rank'] = dftimes['world_rank'].apply(lambda x: int(re.match('\d+', x).group()))
dftimes.sort_values('world_rank', axis=0, inplace=True)

print(dftimes.shape)
dftimes.head(10)

(146, 14)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,california institute technology,United States of America,95.6,64.0,97.6,99.8,97.8,95.2,"2,243",6.9,27%,33 : 67,2016
1,3,stanford university,United States of America,92.5,76.3,96.2,99.9,63.3,93.9,"15,596",7.8,22%,42 : 58,2016
2,5,massachusetts institute technology,United States of America,89.4,84.0,88.6,99.7,95.4,92.0,"11,074",9.0,33%,37 : 63,2016
3,6,harvard university,United States of America,83.6,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,None,2016
4,7,princeton university,United States of America,85.1,78.5,91.9,99.3,52.1,90.1,"7,929",8.4,27%,45 : 55,2016
5,10,university chicago,United States of America,85.7,65.0,88.9,99.2,36.6,87.9,"14,221",6.9,21%,42 : 58,2016
6,11,johns hopkins university,United States of America,77.6,70.0,90.4,98.2,100.0,87.6,"15,128",3.6,23%,50 : 50,2016
7,12,yale university,United States of America,86.5,64.3,87.8,97.2,43.3,87.4,"11,751",4.4,20%,50 : 50,2016
8,13,university california berkeley,United States of America,80.4,61.9,91.1,99.7,47.9,87.2,"36,186",16.4,15%,50 : 50,2016
9,15,columbia university,United States of America,85.9,73.5,82.2,98.1,-,86.1,"25,055",5.9,28%,None,2016

In [586]:
# create dictionary from ranks and locations
worldtonatl = dict( [(kv[1], 1+kv[0]) for kv in enumerate(sorted(dftimes['world_rank'].unique().tolist()))])
print(worldtonatl)

{1: 1, 3: 2, 5: 3, 6: 4, 7: 5, 10: 6, 11: 7, 12: 8, 13: 9, 15: 10, 16: 11, 17: 12, 18: 13, 147: 50, 20: 14, 21: 15, 22: 16, 601: 67, 25: 17, 30: 18, 133: 47, 32: 19, 161: 52, 163: 53, 36: 20, 39: 21, 41: 22, 193: 60, 44: 23, 301: 63, 46: 24, 50: 25, 51: 26, 158: 51, 182: 56, 501: 66, 185: 57, 60: 27, 189: 58, 190: 59, 63: 28, 64: 29, 65: 30, 68: 31, 201: 61, 75: 32, 79: 33, 141: 48, 87: 34, 164: 54, 90: 35, 94: 36, 351: 64, 144: 49, 99: 37, 101: 38, 401: 65, 104: 39, 106: 40, 167: 55, 108: 41, 113: 42, 117: 43, 251: 62, 120: 44, 123: 45, 127: 46}

In [587]:
# convert world ranks to national ranks

dftimes['national_rank'] = dftimes['world_rank'].apply(lambda x: worldtonatl[x])
dftimes.drop(['world_rank','country'], inplace=True, axis=1)
dftimes.sort_values(['national_rank', 'university_name'], inplace=True)
dftimes.head(10)

,university_name,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,national_rank
0,california institute technology,95.6,64.0,97.6,99.8,97.8,95.2,"2,243",6.9,27%,33 : 67,2016,1
1,stanford university,92.5,76.3,96.2,99.9,63.3,93.9,"15,596",7.8,22%,42 : 58,2016,2
2,massachusetts institute technology,89.4,84.0,88.6,99.7,95.4,92.0,"11,074",9.0,33%,37 : 63,2016,3
3,harvard university,83.6,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,None,2016,4
4,princeton university,85.1,78.5,91.9,99.3,52.1,90.1,"7,929",8.4,27%,45 : 55,2016,5
5,university chicago,85.7,65.0,88.9,99.2,36.6,87.9,"14,221",6.9,21%,42 : 58,2016,6
6,johns hopkins university,77.6,70.0,90.4,98.2,100.0,87.6,"15,128",3.6,23%,50 : 50,2016,7
7,yale university,86.5,64.3,87.8,97.2,43.3,87.4,"11,751",4.4,20%,50 : 50,2016,8
8,university california berkeley,80.4,61.9,91.1,99.7,47.9,87.2,"36,186",16.4,15%,50 : 50,2016,9
9,columbia university,85.9,73.5,82.2,98.1,-,86.1,"25,055",5.9,28%,None,2016,10

In [594]:
# use two consecutive merges/innerjoins to combine all 3 ranking systems

dftwo = pd.merge(dftimes,dfcwur, how='inner', on='university_name', suffixes=('_times', '_cwur'))
print(dftwo.shape)
dfthree = pd.merge(dftwo,dfshanghai, how='inner', on='university_name', suffixes=('', '_shang'))
print(dfthree.shape)
# dfthree.head()

(118, 24)
(86, 33)

In [595]:
# replace column names for better understanding of source

dfthree.rename(columns={'national_rank':'national_rank_shang', 'year':'year_shang', 
                       'total_score':'total_score_times', 'score':'total_score_cwur'}, inplace=True)
print(dfthree.columns.tolist())

['university_name', 'teaching', 'international', 'research', 'citations_times', 'income', 'total_score_times', 'num_students', 'student_staff_ratio', 'international_students', 'female_male_ratio', 'year_times', 'national_rank_times', 'national_rank_cwur', 'quality_of_education', 'alumni_employment', 'quality_of_faculty', 'publications', 'influence', 'citations_cwur', 'broad_impact', 'patents', 'total_score_cwur', 'year_cwur', 'national_rank_shang', 'total_score_shang', 'alumni', 'award', 'hici', 'ns', 'pub', 'pcp', 'year_shang']

In [596]:
# calculate weighted rank where 'times' and 'cwur' are twice as valuable as 'shanghai'
dfthree['total_score_times'] = dfthree['total_score_times'].str.replace('-', '40')
dfthree['total_score_times'] = dfthree['total_score_times'].astype(float)
dfthree['total_score_shang'].fillna(20, inplace=True)
dfthree['weighted_score'] = round(0.25*round(dfthree['total_score_shang']/dfthree['total_score_shang'].max(),2) + \
                            0.5*round(dfthree['total_score_times']/dfthree['total_score_times'].max(),2) + \
                            0.25*round(dfthree['total_score_cwur']/dfthree['total_score_cwur'].max(),2), 2)
scoretorank = dict( [(kv[1], 1+kv[0]) for kv in enumerate(sorted(dfthree['weighted_score'].unique().tolist(), 
                                                               reverse=True))])
dfthree['weighted_rank'] = dfthree['weighted_score'].apply(lambda x: scoretorank[x])
dfthree.sort_values(['weighted_rank','university_name'], inplace=True)

In [597]:
# format university names to look nice

def unameformat(x):
    return ' '.join([s.capitalize() for s in x.split(' ')])

dfthree['university_name'] = dfthree['university_name'].apply(unameformat)
dfthree.reset_index(drop=True, inplace=True)

In [598]:
dfthree.to_csv('MostRecentRankingsUS.csv', sep=',', encoding='utf-8', index=False)

In [599]:
# what universities from smallest rankings set (shanghai at 146) were left out?

dfshanghai['university_name'][~(dfshanghai['university_name'].isin(dfthree['university_name'].str.lower()))]

15                   university california san francisco
16                         university michigan ann arbor
17                          university wisconsin madison
20                  university illinois urbana champaign
21                      university minnesota twin cities
23                    washington university in st. louis
24                                rockefeller university
30     university texas southwestern medical center d...
35         pennsylvania state university university park
36                      purdue university west lafayette
38     rutgers  state university new jersey new bruns...
39                        ohio state university columbus
40                      university pittsburgh pittsburgh
50                                  texas a&m university
63                               baylor college medicine
53                     icahn school medicine mount sinai
60                        indiana university bloomington
54                                   mayo medical school
59         university texas m. d. anderson cancer center
56                      university massachusetts amherst
57     university massachusetts medical school worcester
65               north carolina state university raleigh
72                  oregon health and science university
74                               university hawaii manoa
69                      virginia commonwealth university
100                            colorado state university
83     indiana university purdue university indianapolis
92                louisiana state university baton rouge
94                     university new mexico albuquerque
82        university texas health science center houston
95         university buffalo  state university new york
81                         university alabama birmingham
97                                     university kansas
79                                   university kentucky
101                        university maryland baltimore
85                           university nebraska lincoln
89                    university south carolina columbia
112                             brigham young university
108                city university new york city college
117    university texas health science center san ant...
109                          thomas jefferson university
106        university albany (state university new york)
119                           university central florida
107                           university colorado denver
102                         university missouri columbia
123                          university montana missoula
116                      university new hampshire durham
110                                   university vermont
121                                   university wyoming
122                          washington state university
141                    medical university south carolina
129                            oklahoma state university
139    state university new york health science cente...
138                                texas tech university
127            university texas medical branch galveston
126                     university arkansas fayetteville
136                      university arkansas little rock
135                           university oklahoma norman
144                              university rhode island
134                                utah state university
Name: university_name, dtype: object