# Most recent undergraduate rankings of US universities
___
There are 3 ranking systems: CWUR, Times and Shanghai.

Shanghai "*considers every university that has any Nobel Laureates, Fields Medalists, Highly Cited Researchers, or papers published in Nature or Science.*" It highly emphasises prestige so in the final scoring, its weight will be reduced by half relative to the other ranking systems. 

Likewise, CWUR favors similar prestige-related features so they will both be reduced in weight relative to the times dataset.

In [610]:
import pandas as pd
import numpy as np
%matplotlib inline

In [611]:
# import sqlalchemy libraries
import sqlalchemy as sqla
from sqlalchemy import create_engine, MetaData
from sqlalchemy_utils.functions import create_database, database_exists

In [612]:
# import scraping libraries
from lxml import etree

In [4]:
# create database if necessary and engine

dbname = 'postgres://postgres:postgres@localhost/college_rankings_db'
if not database_exists(dbname):
    create_database(dbname)
    print('database created')
else:
    print('database already exists')
    
engine = create_engine(dbname, echo=False)

database created

In [33]:
# add 3 tables to database for each ranking systems

relurl = '../datasets/world-university-ranking/'
ranks = {'cwur', 'times', 'shanghai', 'school_and_country_table'}

# just want the US universities
# shanghai countries are in separate table
# will eventually set primary key to 'university_name'
# so 'institution' must be replaced in cwur rankings

for rank in ranks:
    if rank == 'school_and_country_table':
        loc = relurl+rank+'.csv'
    else:
        loc = relurl+rank+'Data.csv'
    df = pd.read_csv(loc, sep=',', encoding='utf-8')
    df.rename(columns={'institution':'university_name', 'school_name':'university_name'}, inplace=True)
    df.to_sql(rank, engine, index=False, if_exists='replace')
    
# check tables in database
m = MetaData()
m.reflect(engine)
for table in m.tables.values():
    print(table.name)
    print(table.primary_key)
    print(table.c)

school_and_country_table
PrimaryKeyConstraint()
['school_and_country_table.university_name', 'school_and_country_table.country']
cwur
PrimaryKeyConstraint()
['cwur.world_rank', 'cwur.university_name', 'cwur.country', 'cwur.national_rank', 'cwur.quality_of_education', 'cwur.alumni_employment', 'cwur.quality_of_faculty', 'cwur.publications', 'cwur.influence', 'cwur.citations', 'cwur.broad_impact', 'cwur.patents', 'cwur.score', 'cwur.year']
times
PrimaryKeyConstraint()
['times.world_rank', 'times.university_name', 'times.country', 'times.teaching', 'times.international', 'times.research', 'times.citations', 'times.income', 'times.total_score', 'times.num_students', 'times.student_staff_ratio', 'times.international_students', 'times.female_male_ratio', 'times.year']
shanghai
PrimaryKeyConstraint()
['shanghai.world_rank', 'shanghai.university_name', 'shanghai.national_rank', 'shanghai.total_score', 'shanghai.alumni', 'shanghai.award', 'shanghai.hici', 'shanghai.ns', 'shanghai.pub', 'shanghai.pcp', 'shanghai.year']

In [36]:
# load sql magic

%load_ext sql
%sql postgres://postgres:postgres@localhost/college_rankings_db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: postgres@college_rankings_db'

In [622]:
# limit displayed results to prevent jupyter from crashing/hanging
%config SqlMagic.autolimit = 0
%config SqlMagic.displaylimit = 5
%config SqlMagic.autopandas=False

In [630]:
%%sql
/*
# add countries to shanghai table since they are missing
# pandas is probably fastest to create table
# because don't have to specify columns and types
*/
SELECT * FROM shanghai As a
LEFT JOIN (
    SELECT university_name AS uname, country FROM school_and_country_table) AS b 
ON a.university_name = b.uname

4897 rows affected.

[('1', 'Harvard University', '1', 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 72.4, 2005, 'Harvard University', 'United States of America'),
 ('2', 'University of Cambridge', '1', 73.6, 99.8, 93.4, 53.3, 56.6, 70.9, 66.9, 2005, 'University of Cambridge', 'United Kingdom'),
 ('3', 'Stanford University', '2', 73.4, 41.1, 72.2, 88.5, 70.9, 72.3, 65.0, 2005, 'Stanford University', 'United States of America'),
 ('4', 'University of California, Berkeley', '3', 72.8, 71.8, 76.0, 69.4, 73.9, 72.2, 52.7, 2005, 'University of California, Berkeley', 'United States of America'),
 ('5', 'Massachusetts Institute of Technology (MIT)', '4', 70.1, 74.0, 80.6, 66.7, 65.8, 64.3, 53.0, 2005, None, None),
 ('6', 'California Institute of Technology', '5', 67.1, 59.2, 68.6, 59.8, 65.8, 52.5, 100.0, 2005, 'California Institute of Technology', 'United States of America'),
 ('7', 'Columbia University', '6', 62.3, 79.4, 60.6, 56.1, 54.2, 69.5, 45.4, 2005, 'Columbia University', 'United States of America'),
 ('8', 'Princeton University', '7', 60.9, 63.4, 76.8, 60.9, 48.7, 48.5, 59.1, 2005, 'Princeton University', 'United States of America'),
 ('9', 'University of Chicago', '8', 60.1, 75.6, 81.9, 50.3, 44.7, 56.4, 42.2, 2005, 'University of Chicago', 'United States of America'),
 ('10', 'University of Oxford', '2', 59.7, 64.3, 59.1, 48.4, 55.6, 68.4, 53.2, 2005, 'University of Oxford', 'United Kingdom'),
 ('11', 'Yale University', '9', 56.9, 52.1, 44.5, 60.3, 57.2, 63.9, 49.3, 2005, 'Yale University', 'United States of America'),
 ('12', 'Cornell University', '10', 54.6, 46.5, 52.4, 55.0, 48.8, 66.3, 39.8, 2005, 'Cornell University', 'United States of America'),
 ('13', 'University of California, San Diego', '11', 51.0, 17.7, 34.7, 59.8, 56.5, 64.5, 46.6, 2005, 'University of California, San Diego', 'United States of America'),
 ('14', 'University of California, Los Angeles', '12', 50.6, 27.3, 32.8, 56.7, 50.1, 75.6, 34.3, 2005, 'University of California, Los Angeles', 'United States of America'),
 ('15', 'University of Pennsylvania', '13', 50.2, 35.5, 35.1, 56.7, 42.9, 71.8, 39.1, 2005, 'University of Pennsylvania', 'United States of America'),
 ('16', 'University of Wisconsin - Madison', '14', 49.2, 43.0, 36.3, 52.1, 46.3, 68.7, 29.0, 2005, None, None),
 ('17', 'University of Washington', '15', 48.4, 28.8, 32.4, 53.9, 47.1, 73.8, 27.2, 2005, 'University of Washington', 'United States of America'),
 ('18', 'University of California, San Francisco', '16', 47.8, 0.0, 37.6, 55.6, 57.9, 58.8, 45.2, 2005, None, None),
 ('19', 'The Johns Hopkins University', '17', 46.9, 51.4, 28.3, 41.6, 52.2, 67.7, 24.9, 2005, None, None),
 ('20', 'The University of Tokyo', '1', 46.7, 36.0, 14.4, 38.5, 52.1, 86.5, 34.7, 2005, None, None),
 ('21', 'University of Michigan - Ann Arbor', '18', 44.9, 43.0, 0.0, 61.9, 43.0, 76.5, 30.9, 2005, None, None),
 ('22', 'Kyoto University', '2', 43.8, 39.7, 34.1, 34.2, 37.0, 72.3, 31.1, 2005, 'Kyoto University', 'Japan'),
 ('23', 'The Imperial College of Science, Technology and Medicine', '3', 43.7, 20.8, 38.1, 40.8, 38.2, 64.6, 40.3, 2005, None, None),
 ('24', 'University of Toronto', '1', 43.1, 28.1, 19.7, 39.3, 38.9, 76.7, 41.9, 2005, 'University of Toronto', 'Canada'),
 ('25', 'University of Illinois at Urbana-Champaign', '19', 42.8, 41.6, 37.4, 44.4, 34.1, 58.0, 26.0, 2005, 'University of Illinois at Urbana-Champaign', 'United States of America'),
 ('26', 'University College London', '4', 42.6, 30.7, 32.9, 37.7, 41.5, 60.5, 38.8, 2005, 'University College London', 'United Kingdom'),
 ('27', 'Swiss Federal Institute of Technology Zurich', '1', 41.7, 40.2, 37.0, 35.1, 41.1, 43.4, 52.4, 2005, None, None),
 ('28', 'Washington University in St. Louis', '20', 40.7, 25.1, 26.6, 38.5, 46.5, 53.9, 39.9, 2005, None, None),
 ('29', 'New York University', '21', 38.8, 33.8, 25.0, 43.0, 35.3, 55.4, 26.3, 2005, 'New York University', 'United States of America'),
 ('30', 'Rockefeller University', '22', 38.2, 22.6, 59.8, 28.3, 44.1, 24.0, 35.9, 2005, None, None),
 ('31', 'Northwestern University', '23', 37.9, 21.7, 19.3, 44.4, 33.8, 57.6, 36.2, 2005, 'Northwestern University', 'United States of America'),
 ('32', 'Duke University', '24', 37.7, 20.8, 0.0, 47.1, 45.3, 60.8, 38.9, 2005, 'Duke University', 'United States of America'),
 ('32', 'University of Minnesota, Twin Cities', '24', 37.7, 36.0, 0.0, 49.7, 35.2, 68.4, 23.8, 2005, None, None),
 ('34', 'University of California, Santa Barbara', '26', 36.9, 0.0, 36.0, 42.3, 39.0, 44.1, 35.8, 2005, 'University of California, Santa Barbara', 'United States of America'),
 ('35', 'University of Colorado at Boulder', '27', 36.3, 16.6, 29.8, 40.8, 36.6, 46.3, 29.5, 2005, None, None),
 ('36', 'The University of Texas at Austin', '28', 35.5, 21.7, 17.1, 49.1, 30.0, 54.8, 21.7, 2005, None, None),
 ('37', 'University of British Columbia', '2', 35.4, 20.8, 19.3, 32.4, 32.5, 60.4, 33.9, 2005, 'University of British Columbia', 'Canada'),
 ('38', 'The University of Texas Southwestern Medical Center at Dallas', '29', 34.8, 24.3, 33.9, 31.4, 38.2, 37.9, 31.0, 2005, None, None),
 ('39', 'Pennsylvania State University - University Park', '30', 33.4, 14.0, 0.0, 45.8, 37.9, 59.9, 24.0, 2005, None, None),
 ('39', 'Vanderbilt University', '30', 33.4, 12.5, 30.2, 34.2, 24.5, 49.2, 35.6, 2005, 'Vanderbilt University', 'United States of America'),
 ('41', 'University of California, Davis', '32', 32.9, 0.0, 0.0, 46.5, 34.5, 64.0, 29.8, 2005, 'University of California, Davis', 'United States of America'),
 ('41', 'Utrecht University', '1', 32.9, 30.7, 21.4, 27.2, 27.3, 55.7, 25.9, 2005, 'Utrecht University', 'Netherlands'),
 ('43', 'Rutgers, The State University of New Jersey - New Brunswick', '33', 32.3, 15.4, 20.4, 36.9, 32.9, 47.1, 24.1, 2005, None, None),
 ('43', 'University of Pittsburgh', '33', 32.3, 25.1, 0.0, 40.1, 25.9, 64.3, 28.2, 2005, 'University of Pittsburgh', 'United States of America'),
 ('45', 'Karolinska Institute', '1', 32.1, 30.7, 27.8, 33.3, 19.7, 47.3, 25.1, 2005, 'Karolinska Institute', 'Sweden'),
 ('46', 'Pierre and Marie  Curie University - Paris 6', '1', 32.0, 35.7, 23.9, 23.6, 24.2, 51.2, 30.0, 2005, None, None),
 ('47', 'The University of Edinburgh', '5', 31.8, 22.6, 17.1, 26.1, 35.8, 49.4, 29.9, 2005, None, None),
 ('47', 'University of California, Irvine', '35', 31.8, 0.0, 30.0, 32.4, 28.5, 48.2, 31.1, 2005, 'University of California, Irvine', 'United States of America'),
 ('47', 'University of Maryland, College Park', '35', 31.8, 25.9, 0.0, 40.8, 33.6, 54.6, 25.6, 2005, 'University of Maryland, College Park', 'United States of America'),
 ('50', 'University of Southern California', '37', 31.7, 0.0, 27.3, 37.7, 23.6, 52.8, 25.8, 2005, 'University of Southern California', 'United States of America'),
 ('51', 'University of Munich', '1', 31.4, 37.1, 21.1, 15.7, 30.4, 51.9, 30.0, 2005, None, None),
 ('52', 'Technical University Munich', '2', 31.3, 43.0, 24.1, 24.8, 20.7, 46.5, 29.2, 2005, None, None),
 ('53', 'The University of Manchester', '6', 31.2, 27.3, 19.3, 23.6, 22.6, 57.3, 30.4, 2005, None, None),
 ('54', 'Carnegie Mellon University', '38', 30.8, 30.7, 33.5, 32.4, 14.7, 38.3, 31.4, 2005, 'Carnegie Mellon University', 'United States of America'),
 ('55', 'University of North Carolina at Chapel Hill', '39', 30.3, 12.5, 0.0, 35.1, 32.8, 59.5, 27.3, 2005, 'University of North Carolina at Chapel Hill', 'United States of America'),
 ('56', 'The Australian National University', '1', 30.2, 17.7, 12.9, 36.9, 29.0, 45.1, 27.8, 2005, None, None),
 ('57', 'University of Copenhagen', '1', 30.0, 30.7, 24.7, 23.6, 22.8, 45.7, 27.7, 2005, 'University of Copenhagen', 'Denmark'),
 ('57', 'University of Florida', '40', 30.0, 15.4, 0.0, 35.1, 25.0, 65.2, 25.8, 2005, 'University of Florida', 'United States of America'),
 ('57', 'University of Zurich', '2', 30.0, 12.5, 27.3, 19.2, 30.3, 47.2, 30.6, 2005, 'University of Zurich', 'Switzerland'),
 ('60', 'Uppsala University', '2', 29.9, 25.9, 32.9, 11.1, 28.7, 49.1, 21.6, 2005, 'Uppsala University', 'Sweden'),
 ('61', 'University of Paris Sud (Paris 11)', '2', 29.4, 33.2, 34.2, 13.6, 19.6, 44.9, 27.9, 2005, None, None),
 ('62', 'Osaka University', '3', 29.3, 12.5, 0.0, 23.6, 31.1, 66.8, 29.2, 2005, 'Osaka University', 'Japan'),
 ('63', 'The Ohio State University - Columbus', '41', 29.2, 17.7, 0.0, 40.8, 21.5, 61.2, 19.5, 2005, None, None),
 ('64', 'University of Bristol', '7', 28.8, 10.9, 18.2, 30.4, 24.5, 47.5, 27.4, 2005, 'University of Bristol', 'United Kingdom'),
 ('65', 'The University of Sheffield', '8', 28.6, 23.5, 14.4, 23.6, 29.2, 46.6, 27.1, 2005, None, None),
 ('65', 'University of Rochester', '42', 28.6, 33.2, 9.1, 27.2, 25.3, 43.0, 36.1, 2005, 'University of Rochester', 'United States of America'),
 ('67', 'McGill University', '3', 28.4, 28.8, 0.0, 28.3, 23.6, 56.8, 30.0, 2005, 'McGill University', 'Canada'),
 ('67', 'Moscow State University', '1', 28.4, 51.4, 34.9, 0.0, 7.5, 54.0, 31.6, 2005, None, None),
 ('69', 'Case Western Reserve University', '43', 28.3, 40.7, 11.8, 20.8, 23.0, 44.8, 33.7, 2005, 'Case Western Reserve University', 'United States of America'),
 ('69', 'University of Oslo', '1', 28.3, 25.9, 34.1, 17.6, 18.2, 41.5, 26.4, 2005, 'University of Oslo', 'Norway'),
 ('71', 'University of Heidelberg', '3', 28.0, 10.9, 27.7, 20.8, 20.9, 48.1, 26.9, 2005, None, None),
 ('72', 'Leiden University', '2', 27.9, 25.1, 15.8, 27.2, 19.3, 46.7, 28.1, 2005, 'Leiden University', 'Netherlands'),
 ('73', 'Tohoku University', '4', 27.8, 18.8, 0.0, 19.2, 26.9, 65.3, 29.0, 2005, 'Tohoku University', 'Japan'),
 ('73', 'University of Arizona', '44', 27.8, 0.0, 0.0, 29.4, 36.8, 55.8, 25.7, 2005, 'University of Arizona', 'United States of America'),
 ('75', 'Purdue University - West Lafayette', '45', 27.7, 18.8, 17.1, 27.2, 21.4, 49.8, 19.4, 2005, None, None),
 ('76', 'University of Helsinki', '1', 27.4, 18.8, 18.2, 15.7, 21.4, 54.5, 27.5, 2005, 'University of Helsinki', 'Finland'),
 ('77', 'Michigan State University', '46', 26.9, 12.5, 0.0, 37.7, 26.6, 51.0, 18.7, 2005, 'Michigan State University', 'United States of America'),
 ('78', 'Rice University', '47', 26.2, 21.7, 22.3, 23.6, 24.4, 30.8, 31.0, 2005, 'Rice University', 'United States of America'),
 ('78', 'The Hebrew University of Jerusalem', '1', 26.2, 33.2, 0.0, 23.6, 27.1, 46.6, 26.9, 2005, None, None),
 ('80', 'Boston University', '48', 26.1, 15.4, 0.0, 31.4, 28.1, 50.8, 17.5, 2005, 'Boston University', 'United States of America'),
 ('80', "King's College London", '9', 26.1, 16.6, 23.5, 20.8, 17.4, 44.6, 24.8, 2005, None, None),
 ('82', 'University of Melbourne', '2', 26.0, 15.4, 14.4, 22.2, 18.7, 53.5, 19.9, 2005, 'University of Melbourne', 'Australia'),
 ('83', 'University of Nottingham', '10', 25.9, 15.4, 20.4, 20.8, 19.0, 45.6, 24.8, 2005, 'University of Nottingham', 'United Kingdom'),
 ('84', 'University of Goettingen', '4', 25.8, 38.7, 20.4, 15.7, 17.5, 40.2, 24.5, 2005, None, None),
 ('85', 'University of Vienna', '1', 25.6, 25.1, 15.8, 7.9, 22.7, 52.2, 26.4, 2005, 'University of Vienna', 'Austria'),
 ('86', 'Brown University', '49', 25.4, 0.0, 13.9, 29.4, 25.5, 40.7, 27.9, 2005, 'Brown University', 'United States of America'),
 ('87', 'Indiana University Bloomington', '50', 25.2, 14.0, 18.2, 24.8, 21.2, 42.0, 18.2, 2005, None, None),
 ('87', 'University of Basel', '3', 25.2, 25.9, 17.5, 19.2, 21.4, 34.5, 33.8, 2005, 'University of Basel', 'Switzerland'),
 ('89', 'Texas A&M University - College Station', '51', 25.1, 0.0, 0.0, 32.4, 24.4, 55.0, 20.4, 2005, None, None),
 ('90', 'McMaster University', '4', 24.9, 16.6, 19.3, 22.2, 15.9, 43.5, 23.9, 2005, 'McMaster University', 'Canada'),
 ('90', 'University of Freiburg', '5', 24.9, 25.1, 21.4, 17.6, 18.2, 39.5, 23.2, 2005, 'University of Freiburg', 'Germany'),
 ('92', 'University of Strasbourg', '3', 24.7, 29.4, 22.9, 19.2, 19.5, 32.7, 22.4, 2005, 'University of Strasbourg', 'France'),
 ('93', 'Ecole Normale Superieure - Paris', '4', 24.6, 47.8, 25.0, 13.6, 18.1, 27.2, 23.3, 2005, None, None),
 ('93', 'Stockholm University', '3', 24.6, 29.4, 30.2, 15.7, 14.3, 35.3, 18.9, 2005, 'Stockholm University', 'Sweden'),
 ('93', 'Tokyo Institute of Technology', '5', 24.6, 16.6, 0.0, 22.2, 22.5, 50.6, 31.5, 2005, 'Tokyo Institute of Technology', 'Japan'),
 ('93', 'University of Utah', '52', 24.6, 0.0, 0.0, 30.4, 31.4, 45.5, 24.8, 2005, 'University of Utah', 'United States of America'),
 ('97', 'University of Roma - La Sapienza', '1', 24.5, 16.6, 15.8, 11.1, 21.8, 54.6, 15.1, 2005, None, None),
 ('98', 'University of Birmingham', '11', 24.4, 25.1, 11.2, 22.2, 13.4, 47.0, 24.5, 2005, 'University of Birmingham', 'United Kingdom'),
 ('99', 'Lund University', '4', 24.3, 29.4, 0.0, 24.8, 19.4, 50.1, 18.1, 2005, 'Lund University', 'Sweden'),
 ('100', 'Tufts University', '53', 23.9, 18.8, 17.1, 20.8, 19.1, 37.4, 25.2, 2005, 'Tufts University', 'United States of America'),
 ('101-152', 'Aarhus University', '2', None, 15.4, 19.3, 7.9, 22.3, 41.6, 22.4, 2005, 'Aarhus University', 'Denmark'),
 ('101-152', 'Arizona State University - Tempe', '54-71', None, 0.0, 14.4, 20.8, 26.3, 41.9, 17.5, 2005, None, None),
 ('101-152', 'Baylor College of Medicine', '54-71', None, 0.0, 0.0, 17.6, 34.5, 44.0, 24.9, 2005, None, None),
 ('101-152', 'Catholic University of Leuven', '1-4', None, 0.0, 0.0, 19.2, 16.0, 48.7, 23.1, 2005, None, None),
 ('101-152', 'Catholic University of Louvain', '1-4', None, 14.0, 13.9, 13.6, 8.3, 44.7, 26.9, 2005, None, None),
 ('101-152', 'College of France', '5', None, 15.4, 37.4, 11.1, 11.7, 16.9, 19.3, 2005, None, None),
 ('101-152', 'Dartmouth College', '54-71', None, 24.3, 0.0, 20.8, 22.0, 33.0, 29.1, 2005, 'Dartmouth College', 'United States of America'),
 ('101-152', 'Emory University', '54-71', None, 0.0, 0.0, 28.3, 19.0, 48.4, 21.6, 2005, 'Emory University', 'United States of America'),
 ('101-152', 'Georgia Institute of Technology', '54-71', None, 16.6, 0.0, 23.6, 19.0, 43.9, 25.8, 2005, 'Georgia Institute of Technology', 'United States of America'),
 ('101-152', 'Ghent University', '1-4', None, 8.9, 15.8, 15.7, 9.1, 48.8, 27.2, 2005, 'Ghent University', 'Belgium'),
 ('101-152', 'Hokkaido University', '6-9', None, 0.0, 0.0, 15.7, 14.1, 53.8, 21.5, 2005, 'Hokkaido University', 'Japan'),
 ('101-152', 'Kyushu University', '6-9', None, 0.0, 0.0, 13.6, 21.3, 52.8, 21.6, 2005, 'Kyushu University', 'Japan'),
 ('101-152', 'Mayo Medical School', '54-71', None, 0.0, 0.0, 27.2, 6.2, 50.2, 24.4, 2005, None, None),
 ('101-152', 'Nagoya University', '6-9', None, 0.0, 14.4, 15.7, 20.5, 52.3, 25.1, 2005, 'Nagoya University', 'Japan'),
 ('101-152', 'National University of Singapore', '1', None, 0.0, 0.0, 15.7, 13.8, 56.7, 25.7, 2005, 'National University of Singapore', 'Singapore'),
 ('101-152', 'North Carolina State University - Raleigh', '54-71', None, 0.0, 0.0, 29.4, 17.8, 44.3, 19.0, 2005, None, None),
 ('101-152', 'Oregon State University', '54-71', None, 15.4, 0.0, 24.8, 25.7, 36.6, 27.1, 2005, 'Oregon State University', 'United States of America'),
 ('101-152', 'Seoul National University', '1', None, 0.0, 0.0, 7.9, 14.6, 61.2, 26.9, 2005, 'Seoul National University', 'South Korea'),
 ('101-152', 'State University of New York at Stony Brook', '54-71', None, 0.0, 0.0, 17.6, 31.4, 40.7, 20.5, 2005, None, None),
 ('101-152', 'Technion-Israel Institute of Technology', '2-4', None, 18.8, 23.5, 13.6, 14.1, 42.1, 22.8, 2005, None, None),
 ('101-152', 'Tel Aviv University', '2-4', None, 0.0, 0.0, 24.8, 20.1, 54.7, 26.9, 2005, 'Tel Aviv University', 'Israel'),
 ('101-152', 'The University of Georgia', '54-71', None, 0.0, 0.0, 28.3, 21.1, 46.4, 18.4, 2005, None, None),
 ('101-152', 'The University of Glasgow', '12-15', None, 10.9, 0.0, 19.2, 17.1, 44.4, 22.1, 2005, None, None),
 ('101-152', 'The University of Queensland', '3-4', None, 16.6, 0.0, 7.9, 19.9, 50.1, 18.9, 2005, 'The University of Queensland', 'Australia'),
 ('101-152', 'University Libre Bruxelles', '1-4', None, 28.1, 19.3, 0.0, 12.8, 37.8, 29.1, 2005, None, None),
 ('101-152', 'University of Alberta', '5', None, 15.4, 0.0, 17.6, 17.4, 55.1, 26.1, 2005, 'University of Alberta', 'Canada'),
 ('101-152', 'University of Amsterdam', '3-4', None, 8.9, 0.0, 19.2, 22.2, 50.1, 23.1, 2005, 'University of Amsterdam', 'Netherlands'),
 ('101-152', 'University of Bonn', '6-11', None, 19.8, 20.4, 15.7, 11.3, 41.3, 22.0, 2005, 'University of Bonn', 'Germany'),
 ('101-152', 'University of California, Riverside', '54-71', None, 0.0, 0.0, 28.3, 25.9, 36.5, 27.0, 2005, 'University of California, Riverside', 'United States of America'),
 ('101-152', 'University of California, Santa Cruz', '54-71', None, 0.0, 0.0, 28.3, 28.5, 31.1, 29.2, 2005, 'University of California, Santa Cruz', 'United States of America'),
 ('101-152', 'University of Frankfurt', '6-11', None, 36.6, 9.1, 17.6, 16.5, 37.9, 22.4, 2005, None, None),
 ('101-152', 'University of Geneva', '4', None, 29.4, 0.0, 19.2, 23.8, 33.7, 23.1, 2005, 'University of Geneva', 'Switzerland'),
 ('101-152', 'University of Groningen', '3-4', None, 0.0, 20.4, 13.6, 18.5, 43.2, 19.8, 2005, 'University of Groningen', 'Netherlands'),
 ('101-152', 'University of Hamburg', '6-11', None, 16.6, 0.0, 17.6, 20.7, 40.9, 21.4, 2005, 'University of Hamburg', 'Germany'),
 ('101-152', 'University of Hawaii at Manoa', '54-71', None, 0.0, 0.0, 27.2, 30.1, 36.8, 22.2, 2005, None, None),
 ('101-152', 'University of Illinois at Chicago', '54-71', None, 0.0, 0.0, 28.3, 18.5, 46.9, 21.5, 2005, 'University of Illinois at Chicago', 'United States of America'),
 ('101-152', 'University of Iowa', '54-71', None, 0.0, 0.0, 31.4, 22.7, 50.8, 20.9, 2005, 'University of Iowa', 'United States of America'),
 ('101-152', 'University of Leeds', '12-15', None, 22.6, 0.0, 11.1, 22.9, 45.0, 23.0, 2005, 'University of Leeds', 'United Kingdom'),
 ('101-152', 'University of Liverpool', '12-15', None, 23.5, 15.8, 13.6, 18.1, 42.4, 22.6, 2005, 'University of Liverpool', 'United Kingdom'),
 ('101-152', 'University of Massachusetts Amherst', '54-71', None, 17.7, 0.0, 33.3, 24.3, 38.0, 23.0, 2005, None, None),
 ('101-152', 'University of Miami', '54-71', None, 0.0, 0.0, 26.1, 16.4, 41.7, 23.4, 2005, 'University of Miami', 'United States of America'),
 ('101-152', 'University of Milan', '2-3', None, 22.6, 0.0, 15.7, 14.2, 49.7, 19.1, 2005, 'University of Milan', 'Italy'),
 ('101-152', 'University of Muenster', '6-11', None, 25.1, 15.8, 11.1, 14.8, 38.3, 20.7, 2005, None, None),
 ('101-152', 'University of Pisa', '2-3', None, 18.8, 24.1, 11.1, 8.7, 40.6, 18.4, 2005, 'University of Pisa', 'Italy'),
 ('101-152', 'University of Sao Paulo', '1', None, 0.0, 0.0, 11.1, 11.0, 63.5, 27.8, 2005, None, None),
 ('101-152', 'University of Sussex', '12-15', None, 0.0, 23.2, 19.2, 15.9, 28.8, 19.0, 2005, 'University of Sussex', 'United Kingdom'),
 ('101-152', 'University of Sydney', '3-4', None, 19.8, 0.0, 19.2, 17.8, 54.5, 19.7, 2005, 'University of Sydney', 'Australia'),
 ('101-152', 'University of Tsukuba', '6-9', None, 0.0, 20.4, 13.6, 12.7, 42.9, 21.3, 2005, 'University of Tsukuba', 'Japan'),
 ('101-152', 'University of Tuebingen', '6-11', None, 29.4, 0.0, 15.7, 22.4, 43.7, 23.6, 2005, None, None),
 ('101-152', 'University of Virginia', '54-71', None, 0.0, 0.0, 29.4, 23.6, 47.9, 24.0, 2005, 'University of Virginia', 'United States of America'),
 ('101-152', 'University of Wuerzburg', '6-11', None, 25.1, 9.1, 22.2, 16.9, 37.9, 21.7, 2005, None, None),
 ('101-152', 'Weizmann Institute of Science', '2-4', None, 0.0, 0.0, 26.1, 35.1, 33.6, 23.4, 2005, None, None),
 ('153-202', 'Autonomous University of Madrid', '1-2', None, 19.8, 0.0, 13.6, 11.4, 36.3, 18.2, 2005, 'Autonomous University of Madrid', 'Spain'),
 ('153-202', 'Brandeis University', '72-90', None, 25.1, 0.0, 7.9, 26.1, 20.3, 27.4, 2005, 'Brandeis University', 'United States of America'),
 ('153-202', 'Cardiff University', '16-19', None, 0.0, 0.0, 13.6, 17.0, 42.5, 20.3, 2005, 'Cardiff University', 'United Kingdom'),

In [631]:
result = _
dfshang = result.DataFrame()

In [633]:
# number of columns with missing data

print(dfshang.shape)
print(dfshang.loc[(dfshang['country'].isnull()) & (dfshang['year']==dfshang['year'].max())].shape)

(4897, 13)
(177, 13)

## Scrape Shanghai ranking for US 2015 straight from website

Many US universities are missing from the `school_and_country_table` SQL table, so instead the US universities
will be identified from the Shanghai ranking website.

In [229]:
# many universities have slightly different names so this csv is pretty useless
# instead scrape 2015 data straight from website
shurl = 'http://www.shanghairanking.com/World-University-Rankings-2015/USA.html'
parser = etree.HTMLParser()
treeus2015 = etree.parse(shurl, parser)

In [249]:
alltds = treeus2015.findall('//tr[@class="bgfd"]')
alltds.extend(treeus2015.findall('//tr[@class="bgf5"]'))
print(len(alltds))

146

In [278]:
# create lists (ordered) with rank and name then add to dataframe
shranks = []
shnames = []

for td in alltds:
    shranks.append(int(re.match('\d+', td.find('./td/div').text).group()))
    shnames.append(td.find('.td/a').text)
    
dfscrape = pd.DataFrame(list(zip(shnames,shranks)), columns=['university_name', 'national_rank'])
dfscrape.sort_values('national_rank',inplace=True)
dfscrape.reset_index(inplace=True, drop=True)

In [279]:
dfscrape.head()

                               university_name  national_rank
0                           Harvard University              1
1                          Stanford University              2
2  Massachusetts Institute of Technology (MIT)              3
3           University of California, Berkeley              4
4                         Princeton University              5

In [ ]:
%%sql
/*
# this script selects the maximum year for each university_name

SELECT * from shanghai As a
INNER JOIN (
    SELECT university_name AS uname, MAX(year) AS yr
    FROM shanghai
    GROUP BY university_name
) As b ON a.university_name = b.uname AND a.year = b.yr
*/

In [625]:
%%sql
/*
# load in all of shanghai 2015 data from csv
*/
SELECT * FROM shanghai WHERE year=(
    SELECT MAX(year) FROM shanghai
)

500 rows affected.

[('1', 'Harvard University', '1', 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 76.6, 2015),
 ('2', 'Stanford University', '2', 73.3, 40.7, 89.6, 80.1, 70.1, 70.6, 53.8, 2015),
 ('3', 'Massachusetts Institute of Technology (MIT)', '3', 70.4, 68.2, 80.7, 60.6, 73.1, 61.1, 68.0, 2015),
 ('4', 'University of California, Berkeley', '4', 69.6, 65.1, 79.4, 66.1, 65.6, 67.9, 56.5, 2015),
 ('5', 'University of Cambridge', '1', 68.8, 77.1, 96.6, 50.8, 55.6, 66.4, 55.8, 2015),
 ('6', 'Princeton University', '5', 61.0, 53.3, 93.4, 57.1, 43.0, 42.4, 70.3, 2015),
 ('7', 'California Institute of Technology', '6', 59.6, 49.5, 66.7, 49.3, 56.4, 44.0, 100.0, 2015),
 ('8', 'Columbia University', '7', 58.8, 63.5, 65.9, 52.1, 51.9, 68.8, 33.2, 2015),
 ('9', 'University of Chicago', '8', 57.1, 59.8, 86.3, 49.0, 42.9, 49.8, 42.0, 2015),
 ('10', 'University of Oxford', '2', 56.6, 49.7, 54.9, 52.3, 51.9, 70.9, 43.1, 2015),
 ('11', 'Yale University', '9', 54.5, 47.6, 50.4, 51.0, 58.8, 63.0, 37.8, 2015),
 ('12', 'University of California, Los Angeles', '10', 50.7, 29.5, 47.1, 52.3, 47.2, 70.7, 31.6, 2015),
 ('13', 'Cornell University', '11', 50.5, 42.0, 49.8, 50.4, 45.3, 59.9, 40.2, 2015),
 ('14', 'University of California, San Diego', '12', 48.7, 19.2, 35.5, 56.6, 55.1, 62.9, 36.6, 2015),
 ('15', 'University of Washington', '13', 47.8, 21.2, 31.6, 53.0, 51.7, 71.9, 29.3, 2015),
 ('16', 'Johns Hopkins University', '14', 46.3, 37.7, 33.6, 44.0, 44.9, 70.2, 28.8, 2015),
 ('17', 'University of Pennsylvania', '15', 46.1, 31.6, 33.8, 49.6, 39.6, 67.7, 37.4, 2015),
 ('18', 'University College London', '3', 44.5, 28.1, 36.2, 38.5, 40.6, 71.7, 32.7, 2015),
 ('18', 'University of California, San Francisco', '16', 44.5, 0.0, 39.9, 46.8, 53.5, 59.5, 34.9, 2015),
 ('20', 'Swiss Federal Institute of Technology Zurich', '1', 43.7, 29.5, 35.5, 38.4, 45.9, 55.7, 46.3, 2015),
 ('21', 'The University of Tokyo', '1', 42.0, 30.8, 14.1, 41.9, 48.6, 70.8, 28.8, 2015),
 ('22', 'University of Michigan-Ann Arbor', '17', 41.7, 34.4, 0.0, 56.2, 41.3, 75.9, 25.6, 2015),
 ('23', 'The Imperial College of Science, Technology and Medicine', '4', 41.5, 14.5, 35.8, 44.2, 34.5, 62.0, 38.0, 2015),
 ('24', 'University of Wisconsin - Madison', '18', 41.1, 30.8, 34.8, 40.2, 35.7, 62.5, 24.6, 2015),
 ('25', 'University of Toronto', '1', 40.6, 19.9, 17.2, 38.8, 38.6, 79.1, 29.3, 2015),
 ('26', 'Kyoto University', '2', 38.9, 31.6, 37.2, 33.6, 32.6, 59.0, 23.5, 2015),
 ('27', 'New York University', '19', 38.8, 28.1, 31.9, 35.2, 40.3, 56.2, 23.3, 2015),
 ('27', 'Northwestern University', '19', 38.8, 15.4, 22.1, 50.3, 37.0, 58.1, 28.8, 2015),
 ('29', 'University of Illinois at Urbana-Champaign', '21', 38.6, 29.9, 36.2, 34.9, 32.4, 55.5, 28.6, 2015),
 ('30', 'University of Minnesota, Twin Cities', '22', 38.5, 29.5, 16.3, 47.3, 32.5, 64.0, 26.2, 2015),
 ('31', 'Duke University', '23', 38.0, 15.4, 14.9, 50.2, 39.0, 61.7, 23.9, 2015),
 ('32', 'Washington University in St. Louis', '24', 37.4, 22.9, 24.9, 40.7, 41.8, 50.5, 26.0, 2015),
 ('33', 'Rockefeller University', '25', 36.5, 17.0, 59.8, 30.3, 40.9, 19.0, 39.6, 2015),
 ('34', 'University of Colorado at Boulder', '26', 36.0, 12.6, 34.1, 37.1, 36.0, 45.0, 34.2, 2015),
 ('35', 'University of Copenhagen', '1', 35.7, 21.8, 18.8, 28.0, 34.0, 63.2, 39.2, 2015),
 ('36', 'Pierre and Marie  Curie University - Paris 6', '1', 35.0, 33.6, 27.4, 25.8, 29.8, 59.2, 23.9, 2015),
 ('37', 'The University of Texas at Austin', '27', 34.8, 16.2, 16.3, 38.6, 37.5, 56.0, 26.6, 2015),
 ('38', 'University of California, Santa Barbara', '28', 34.6, 14.5, 39.1, 38.7, 27.5, 37.3, 38.0, 2015),
 ('39', 'University of North Carolina at Chapel Hill', '29', 34.4, 8.9, 16.3, 39.8, 33.5, 61.2, 25.6, 2015),
 ('40', 'University of British Columbia', '2', 34.1, 15.4, 18.8, 32.8, 32.0, 63.0, 24.2, 2015),
 ('41', 'The University of Manchester', '5', 33.6, 18.5, 32.6, 27.1, 26.1, 56.2, 25.6, 2015),
 ('41', 'University of Paris-Sud (Paris 11)', '2', 33.6, 30.3, 54.3, 16.8, 17.4, 47.3, 26.6, 2015),
 ('43', 'University of Maryland, College Park', '30', 32.8, 19.2, 20.0, 33.0, 31.6, 52.7, 26.5, 2015),
 ('44', 'The University of Melbourne', '1', 32.3, 17.0, 13.3, 28.6, 25.3, 66.9, 30.2, 2015),
 ('44', 'The University of Texas Southwestern Medical Center at Dallas', '31', 32.3, 18.5, 34.5, 31.1, 35.6, 35.8, 22.4, 2015),
 ('46', 'Heidelberg University', '1', 32.2, 19.9, 25.3, 23.7, 29.4, 51.7, 34.2, 2015),
 ('47', 'The University of Edinburgh', '6', 32.0, 20.5, 24.9, 25.8, 30.5, 51.9, 25.9, 2015),
 ('48', 'Karolinska Institute', '1', 31.9, 22.4, 26.6, 24.8, 23.5, 50.8, 37.4, 2015),
 ('49', 'University of Southern California', '32', 31.3, 0.0, 31.7, 35.6, 22.1, 53.2, 20.3, 2015),
 ('50', 'University of California, Irvine', '33', 31.0, 0.0, 29.3, 34.3, 28.9, 45.3, 27.5, 2015),
 ('51', 'Technical University Munich', '2', 30.5, 34.8, 21.6, 22.3, 23.2, 48.3, 32.3, 2015),
 ('52', 'University of Munich', '3', 30.3, 25.6, 19.1, 20.3, 28.9, 50.7, 32.6, 2015),
 ('53', 'Vanderbilt University', '34', 30.2, 15.4, 29.0, 28.4, 21.8, 51.0, 19.0, 2015),
 ('54', 'University of Zurich', '2', 30.1, 5.1, 24.0, 27.1, 29.0, 51.6, 25.4, 2015),
 ('55', "King's College London", '7', 30.0, 21.2, 21.0, 29.5, 18.2, 54.3, 25.6, 2015),
 ('56', 'Utrecht University', '1', 29.8, 22.9, 20.0, 29.1, 25.4, 46.0, 26.9, 2015),
 ('57', 'University of California, Davis', '35', 29.7, 0.0, 0.0, 41.0, 33.0, 58.0, 26.0, 2015),
 ('58', 'University of Geneva', '3', 29.4, 27.1, 28.2, 21.4, 27.6, 38.1, 29.4, 2015),
 ('58', 'University of Oslo', '1', 29.4, 28.1, 32.6, 15.9, 18.2, 49.1, 26.9, 2015),
 ('60', 'Pennsylvania State University - University Park', '36', 29.3, 10.3, 0.0, 41.6, 31.6, 53.4, 22.4, 2015),
 ('61', 'Carnegie Mellon University', '37', 29.2, 31.6, 31.6, 28.6, 15.2, 34.3, 34.4, 2015),
 ('61', 'Purdue University - West Lafayette', '37', 29.2, 13.6, 23.1, 27.7, 25.1, 49.0, 22.4, 2015),
 ('61', 'Uppsala University', '2', 29.2, 17.8, 27.4, 18.4, 24.6, 49.8, 27.1, 2015),
 ('64', 'McGill University', '3', 28.5, 32.8, 0.0, 22.8, 27.3, 59.3, 26.8, 2015),
 ('64', 'Rutgers, The State University of New Jersey - New Brunswick', '39', 28.5, 10.3, 18.8, 34.5, 24.8, 44.6, 22.9, 2015),
 ('66', 'University of Bristol', '8', 28.3, 7.3, 16.3, 25.7, 32.4, 45.5, 29.3, 2015),
 ('67', 'The Hebrew University of Jerusalem', '1', 28.2, 32.0, 28.2, 19.6, 21.5, 37.6, 29.1, 2015),
 ('67', 'The Ohio State University - Columbus', '40', 28.2, 12.6, 0.0, 38.3, 22.8, 60.9, 18.9, 2015),
 ('67', 'University of Helsinki', '1', 28.2, 12.6, 16.3, 25.2, 22.4, 51.8, 31.3, 2015),
 ('70', 'University of Pittsburgh, Pittsburgh Campus', '41', 28.1, 18.5, 0.0, 39.8, 19.2, 59.6, 18.3, 2015),
 ('71', 'Ghent University', '1', 27.8, 5.1, 13.3, 26.9, 18.3, 57.5, 34.5, 2015),
 ('72', 'Ecole Normale Superieure - Paris', '3', 27.6, 48.9, 28.0, 6.2, 19.5, 26.4, 60.5, 2015),
 ('73', 'Aarhus University', '2', 27.3, 11.5, 22.1, 12.3, 25.8, 51.8, 31.0, 2015),
 ('73', 'Boston University', '42', 27.3, 11.5, 11.5, 29.1, 26.3, 49.5, 21.8, 2015),
 ('75', 'Brown University', '43', 27.0, 14.5, 13.3, 26.2, 25.1, 43.6, 32.8, 2015),
 ('75', 'University of Groningen', '2', 27.0, 0.0, 18.8, 23.0, 21.0, 52.6, 32.7, 2015),
 ('77', 'Nagoya University', '3', 26.7, 29.0, 25.3, 16.8, 17.7, 44.3, 23.1, 2015),
 ('77', 'Stockholm University', '3', 26.7, 24.1, 27.4, 18.1, 19.4, 40.4, 25.6, 2015),
 ('77', 'Technion-Israel Institute of Technology', '2', 26.7, 23.5, 37.6, 15.2, 18.3, 33.3, 28.2, 2015),
 ('77', 'The Australian National University', '2', 26.7, 13.6, 19.2, 24.8, 20.1, 45.1, 29.1, 2015),
 ('77', 'The University of Queensland', '2', 26.7, 12.6, 0.0, 22.0, 24.0, 63.2, 29.3, 2015),
 ('82', 'Leiden University', '3', 26.5, 17.8, 9.4, 25.7, 22.0, 46.9, 32.9, 2015),
 ('83', 'University of Florida', '44', 26.2, 17.0, 0.0, 30.9, 21.0, 58.7, 17.3, 2015),
 ('84', 'Rice University', '45', 26.0, 16.2, 21.7, 28.1, 22.8, 29.2, 34.3, 2015),
 ('85', 'Osaka University', '4', 25.7, 8.9, 0.0, 31.6, 26.7, 51.7, 21.7, 2015),
 ('86', 'Moscow State University', '1', 25.3, 41.4, 33.0, 0.0, 7.7, 46.4, 31.3, 2015),
 ('87', 'The University of Western Australia', '4', 24.9, 13.6, 14.1, 24.1, 14.5, 47.5, 28.9, 2015),
 ('87', 'University of Basel', '4', 24.9, 19.2, 16.3, 17.4, 21.4, 39.2, 35.0, 2015),
 ('87', 'University of Strasbourg', '4', 24.9, 25.1, 28.8, 15.9, 19.0, 34.6, 21.7, 2015),
 ('90', 'KU Leuven', '2', 24.7, 0.0, 0.0, 30.1, 18.6, 56.6, 30.4, 2015),
 ('90', 'University of Arizona', '46', 24.7, 14.5, 0.0, 27.2, 27.5, 48.4, 20.3, 2015),
 ('92', 'University of Warwick', '9', 24.6, 0.0, 29.8, 23.7, 14.0, 39.3, 26.8, 2015),
 ('93', 'Arizona State University', '47', 24.5, 0.0, 20.0, 22.2, 25.5, 42.6, 19.1, 2015),
 ('93', 'University of California, Santa Cruz', '47', 24.5, 0.0, 0.0, 37.9, 33.9, 29.0, 37.6, 2015),
 ('93', 'University of Utah', '47', 24.5, 0.0, 11.5, 26.5, 25.5, 46.7, 18.7, 2015),
 ('96', 'McMaster University', '4', 24.4, 12.6, 18.8, 23.2, 15.1, 44.5, 22.5, 2015),
 ('97', 'University of Bonn', '4', 24.3, 15.4, 19.8, 17.4, 21.1, 39.8, 25.9, 2015),
 ('98', 'VU University Amsterdam', '4', 24.2, 0.0, 0.0, 27.8, 18.0, 55.5, 33.3, 2015),
 ('99', 'Michigan State University', '50', 24.0, 8.9, 0.0, 30.7, 21.8, 50.6, 18.9, 2015),
 ('100', 'Texas A&M University', '51', 23.9, 0.0, 0.0, 34.3, 22.7, 49.5, 20.9, 2015),
 ('101-150', 'Aix Marseille University', '5-6', None, 13.6, 0.0, 15.2, 20.3, 50.1, 27.6, 2015),
 ('101-150', 'Baylor College of Medicine', '52-65', None, 0.0, 0.0, 23.7, 29.2, 39.7, 19.9, 2015),
 ('101-150', 'Case Western Reserve University', '52-65', None, 30.3, 10.9, 15.9, 19.0, 39.7, 22.9, 2015),
 ('101-150', 'Emory University', '52-65', None, 0.0, 0.0, 28.4, 22.0, 51.3, 18.0, 2015),
 ('101-150', 'Université libre de Bruxelles (ULB)', '3', None, 19.9, 26.6, 11.3, 11.8, 32.7, 30.4, 2015),
 ('101-150', 'Georgia Institute of Technology', '52-65', None, 12.6, 0.0, 30.3, 22.4, 43.2, 28.1, 2015),
 ('101-150', 'Icahn School of Medicine at Mount Sinai', '52-65', None, 0.0, 0.0, 26.8, 25.0, 36.6, 21.5, 2015),
 ('101-150', 'Indiana University Bloomington', '52-65', None, 10.3, 21.6, 18.5, 21.9, 39.6, 20.2, 2015),
 ('101-150', 'London School of Economics and Political Science', '10-17', None, 19.9, 16.3, 15.2, None, 31.2, 28.7, 2015),
 ('101-150', 'Lund University', '4', None, 21.2, 0.0, 22.5, 16.3, 49.7, 21.2, 2015),
 ('101-150', 'Mayo Medical School', '52-65', None, 0.0, 0.0, 35.4, 12.8, 46.5, 29.5, 2015),
 ('101-150', 'Monash University', '5-7', None, 0.0, 0.0, 18.4, 22.6, 58.6, 25.5, 2015),
 ('101-150', 'National University of Singapore', '1', None, 0.0, 0.0, 19.3, 20.3, 59.5, 32.2, 2015),
 ('101-150', 'Norwegian University of Science and Technology - NTNU', '2', None, 13.6, 21.0, 10.1, 12.9, 36.4, 20.0, 2015),
 ('101-150', 'Peking University', '1-4', None, 0.0, 0.0, 11.2, 21.5, 64.0, 19.5, 2015),
 ('101-150', 'Radboud University Nijmegen', '5-7', None, 16.2, 0.0, 12.3, 19.3, 50.4, 32.2, 2015),
 ('101-150', 'Seoul National University', '1', None, 0.0, 0.0, 12.3, 17.9, 67.1, 23.5, 2015),
 ('101-150', 'Shanghai Jiao Tong University', '1-4', None, 0.0, 0.0, 12.6, 10.6, 68.5, 23.0, 2015),
 ('101-150', 'Swiss Federal Institute of Technology Lausanne', '5', None, 0.0, 0.0, 26.1, 29.2, 41.8, 38.4, 2015),
 ('101-150', 'Technical University of Denmark', '3', None, 5.1, 11.5, 21.1, 14.6, 39.0, 23.4, 2015),
 ('101-150', 'The University of Glasgow', '10-17', None, 7.3, 0.0, 24.9, 18.5, 42.1, 22.9, 2015),
 ('101-150', 'The University of New South Wales', '5-7', None, 0.0, 0.0, 20.2, 17.8, 58.6, 23.9, 2015),
 ('101-150', 'The University of Sheffield', '10-17', None, 17.8, 13.3, 18.4, 17.5, 42.8, 21.7, 2015),
 ('101-150', 'The University of Texas M. D. Anderson Cancer Center', '52-65', None, 0.0, 0.0, 28.2, 21.4, 41.3, 32.4, 2015),
 ('101-150', 'Tohoku University', '5', None, 14.5, 0.0, 23.9, 21.0, 52.2, 21.6, 2015),
 ('101-150', 'Tsinghua University', '1-4', None, 10.3, 0.0, 10.0, 26.8, 63.8, 20.2, 2015),
 ('101-150', 'Tufts University', '52-65', None, 18.5, 16.3, 20.1, 15.4, 34.9, 25.7, 2015),
 ('101-150', 'University of Alberta', '5-6', None, 11.5, 0.0, 23.9, 19.2, 54.2, 22.5, 2015),
 ('101-150', 'University of Amsterdam', '5-7', None, 5.1, 0.0, 20.8, 18.8, 53.3, 28.2, 2015),
 ('101-150', 'University of Birmingham', '10-17', None, 18.5, 9.4, 20.8, 12.7, 44.7, 20.5, 2015),
 ('101-150', 'University of California, Riverside', '52-65', None, 12.6, 0.0, 24.7, 23.9, 32.2, 27.5, 2015),
 ('101-150', 'University of Frankfurt', '5-8', None, 30.3, 0.0, 19.6, 21.2, 37.7, 25.3, 2015),
 ('101-150', 'University of Freiburg', '5-8', None, 18.5, 18.8, 13.0, 24.4, 37.9, 25.3, 2015),
 ('101-150', 'University of Goettingen', '5-8', None, 30.8, 14.9, 13.1, 20.0, 38.9, 25.6, 2015),
 ('101-150', 'University of Leeds', '10-17', None, 17.0, 0.0, 18.4, 18.4, 42.5, 19.8, 2015),
 ('101-150', 'University of Liverpool', '10-17', None, 17.0, 13.3, 14.9, 18.6, 41.2, 22.5, 2015),
 ('101-150', 'University of Massachusetts Amherst', '52-65', None, 13.6, 0.0, 32.0, 16.9, 35.5, 23.2, 2015),
 ('101-150', 'University of Massachusetts Medical School - Worcester', '52-65', None, 0.0, 20.0, 15.9, 24.9, 27.4, 23.9, 2015),
 ('101-150', 'University of Montreal', '5-6', None, 11.5, 0.0, 17.2, 17.3, 50.6, 21.7, 2015),
 ('101-150', 'University of Muenster', '5-8', None, 19.2, 13.3, 14.8, 14.7, 36.0, 22.2, 2015),
 ('101-150', 'University of Nottingham', '10-17', None, 11.5, 20.0, 19.1, 15.9, 45.9, 20.1, 2015),
 ('101-150', 'University of Rochester', '52-65', None, 24.6, 7.7, 25.2, 20.8, 39.0, 20.8, 2015),
 ('101-150', 'University of Sao Paulo', '1', None, 0.0, 0.0, 12.2, 12.1, 72.0, 15.5, 2015),
 ('101-150', 'University of Southampton', '10-17', None, 0.0, 0.0, 24.6, 19.5, 46.2, 24.3, 2015),
 ('101-150', 'University of Sydney', '5-7', None, 14.5, 0.0, 9.6, 18.1, 64.7, 25.3, 2015),
 ('101-150', 'University of Virginia', '52-65', None, 0.0, 0.0, 27.0, 27.7, 43.7, 19.1, 2015),
 ('101-150', 'University of Wageningen', '5-7', None, 0.0, 0.0, 24.1, 19.8, 42.0, 33.0, 2015),
 ('101-150', 'University Paris Diderot - Paris 7', '5-6', None, 11.5, 9.4, 14.9, 30.2, 45.0, 19.5, 2015),
 ('101-150', 'Weizmann Institute of Science', '3', None, 17.8, 16.3, 17.0, 34.7, 26.8, 25.1, 2015),
 ('101-150', 'Zhejiang University', '1-4', None, 0.0, 0.0, 7.1, 13.5, 68.5, 19.9, 2015),
 ('151-200', 'Cardiff University', '18-21', None, 0.0, 16.3, 13.6, 17.8, 39.2, 20.3, 2015),
 ('151-200', 'Catholic University of Louvain', '4', None, 10.3, 13.3, 15.9, 9.1, 37.4, 26.9, 2015),
 ('151-200', 'Erasmus University', '8', None, 0.0, 14.9, 22.0, 8.0, 33.6, 26.4, 2015),
 ('151-200', 'Fudan University', '5-7', None, 0.0, 0.0, 12.2, 13.1, 56.1, 21.5, 2015),
 ('151-200', 'George Mason University', '66-78', None, 0.0, 31.9, 5.1, 8.9, 28.7, 18.5, 2015),
 ('151-200', 'Hokkaido University', '6-7', None, 11.5, 16.3, 7.2, 15.6, 42.2, 18.7, 2015),
 ('151-200', 'Iowa State University', '66-78', None, 0.0, 0.0, 20.1, 17.1, 39.3, 19.8, 2015),
 ('151-200', 'Joseph Fourier University (Grenoble 1)', '7-8', None, 0.0, 14.9, 16.3, 21.9, 32.9, 18.2, 2015),
 ('151-200', 'King Abdulaziz University', '1-2', None, 0.0, 0.0, 29.1, 7.2, 47.0, 13.4, 2015),
 ('151-200', 'King Saud University', '1-2', None, 0.0, 0.0, 32.5, 5.9, 42.5, 14.1, 2015),
 ('151-200', 'Nanyang Technological University', '2', None, 0.0, 0.0, 11.2, 10.5, 50.5, 26.2, 2015),
 ('151-200', 'National Taiwan University', '1', None, 11.5, 0.0, 13.9, 11.6, 55.5, 19.4, 2015),
 ('151-200', 'North Carolina State University - Raleigh', '66-78', None, 0.0, 0.0, 25.2, 12.8, 41.2, 19.1, 2015),
 ('151-200', 'Oregon Health and Science University', '66-78', None, 0.0, 0.0, 20.8, 22.1, 34.6, 22.4, 2015),
 ('151-200', 'Oregon State University', '66-78', None, 10.3, 0.0, 23.0, 21.2, 34.7, 22.7, 2015),
 ('151-200', 'Queen Mary University of London', '18-21', None, 17.8, 0.0, 18.1, 13.7, 32.1, 20.7, 2015),
 ('151-200', 'Sapienza University of Rome', '1-5', None, 11.5, 13.3, 5.1, 12.1, 52.0, 17.8, 2015),
 ('151-200', 'Sun Yat-sen University', '5-7', None, 0.0, 0.0, 8.7, 9.9, 54.9, 17.9, 2015),
 ('151-200', 'Tel Aviv University', '4', None, 0.0, 0.0, 20.7, 14.8, 48.1, 26.4, 2015),
 ('151-200', 'The Chinese University of Hong Kong', '1-2', None, 0.0, 14.1, 15.1, 5.2, 43.1, 22.0, 2015),
 ('151-200', 'The University of Adelaide', '8', None, 14.5, 0.0, 16.3, 12.9, 42.0, 25.7, 2015),
 ('151-200', 'The University of Georgia', '66-78', None, 0.0, 0.0, 20.6, 16.7, 42.1, 18.1, 2015),
 ('151-200', 'The University of Hong Kong', '1-2', None, 0.0, 0.0, 17.5, 14.2, 43.9, 22.5, 2015),
 ('151-200', 'Tokyo Institute of Technology', '6-7', None, 12.6, 0.0, 15.9, 15.3, 37.8, 24.0, 2015),
 ('151-200', 'Trinity College Dublin', '1', None, 10.3, 13.3, 12.3, 13.1, 31.0, 19.0, 2015),
 ('151-200', 'University of Barcelona', '1', None, 0.0, 0.0, 15.1, 11.7, 51.6, 18.7, 2015),
 ('151-200', 'University of Bern', '6', None, 12.6, 0.0, 16.3, 19.2, 41.3, 26.9, 2015),
 ('151-200', 'University of Buenos Aires', '1', None, 14.5, 24.0, 0.0, 9.7, 34.9, 21.7, 2015),
 ('151-200', 'University of Delaware', '66-78', None, 10.3, 16.3, 20.1, 10.0, 30.8, 19.0, 2015),
 ('151-200', 'University of Exeter', '18-21', None, 0.0, 0.0, 17.8, 18.4, 34.9, 23.5, 2015),
 ('151-200', 'University of Gothenburg', '5', None, 0.0, 15.4, 12.3, 14.5, 41.3, 19.7, 2015),
 ('151-200', 'University of Hamburg', '9-13', None, 11.5, 0.0, 13.9, 21.7, 36.6, 22.1, 2015),
 ('151-200', 'University of Hawaii at Manoa', '66-78', None, 0.0, 0.0, 20.1, 22.9, 36.0, 18.7, 2015),
 ('151-200', 'University of Illinois at Chicago', '66-78', None, 0.0, 0.0, 21.0, 14.5, 43.7, 17.8, 2015),
 ('151-200', 'University of Iowa', '66-78', None, 0.0, 0.0, 20.3, 18.8, 44.7, 17.5, 2015),
 ('151-200', 'University of Kiel', '9-13', None, 10.3, 13.3, 13.8, 13.7, 29.7, 18.8, 2015),
 ('151-200', 'University of Koeln', '9-13', None, 0.0, 11.5, 8.6, 19.3, 37.1, 21.5, 2015),
 ('151-200', 'University of Miami', '66-78', None, 0.0, 0.0, 22.0, 14.7, 39.5, 14.8, 2015),
 ('151-200', 'University of Milan', '1-5', None, 17.0, 0.0, 14.2, 9.6, 46.3, 21.2, 2015),
 ('151-200', 'University of Padua', '1-5', None, 0.0, 0.0, 11.3, 16.1, 48.2, 22.0, 2015),
 ('151-200', 'University of Paris Descartes (Paris 5)', '7-8', None, 11.5, 9.4, 12.2, 13.5, 40.1, 15.7, 2015),
 ('151-200', 'University of Pisa', '1-5', None, 13.6, 23.1, 7.2, 6.5, 37.0, 22.1, 2015),
 ('151-200', 'University of Science and Technology of China', '5-7', None, 0.0, 0.0, 15.9, 13.9, 50.8, 25.5, 2015),
 ('151-200', 'University of Sussex', '18-21', None, 0.0, 22.4, 15.2, 12.1, 30.3, 26.4, 2015),
 ('151-200', 'University of Tennessee - Knoxville', '66-78', None, 10.3, 0.0, 17.9, 14.2, 39.2, 15.1, 2015),
 ('151-200', 'University of Tuebingen', '9-13', None, 22.4, 0.0, 12.2, 17.4, 41.1, 23.7, 2015),
 ('151-200', 'University of Turin', '1-5', None, 15.4, 0.0, 16.2, 8.5, 40.0, 20.2, 2015),
 ('151-200', 'University of Vienna', '1', None, 13.6, 0.0, 15.9, 21.1, 36.5, 23.9, 2015),
 ('151-200', 'University of Wuerzburg', '9-13', None, 19.2, 0.0, 18.9, 15.0, 33.3, 21.1, 2015),
 ('151-200', 'Virginia Commonwealth University', '66-78', None, 10.3, 14.1, 15.9, 7.8, 34.3, 14.6, 2015),
 ('201-300', 'Autonomous University of Barcelona', '2-5', None, 0.0, 0.0, 5.0, 12.9, 44.5, 20.2, 2015),
 ('201-300', 'Autonomous University of Madrid', '2-5', None, 0.0, 0.0, 11.3, 9.9, 39.3, 17.3, 2015),
 ('201-300', 'Beijing Normal University', '8-13', None, 15.4, 0.0, 5.0, 7.9, 38.8, 16.1, 2015),
 ('201-300', 'Brandeis University', '79-102', None, 19.2, 0.0, 8.6, 18.8, 18.4, 24.8, 2015),
 ('201-300', 'Charles University in Prague', '1', None, 8.9, 0.0, 0.0, 9.0, 43.9, 19.7, 2015),
 ('201-300', 'City University of Hong Kong', '3-4', None, 0.0, 0.0, 18.1, 1.5, 38.5, 22.1, 2015),
 ('201-300', 'Claude Bernard University Lyon 1', '9-15', None, 10.3, 0.0, 0.0, 18.8, 40.2, 14.8, 2015),
 ('201-300', 'Colorado State University', '79-102', None, 0.0, 0.0, 20.3, 14.2, 36.2, 20.1, 2015),

In [579]:
# the _ selects the results of the last executed command

dfshang = _
print(dfshang.shape)

(500, 11)

In [580]:
# now innner join with existing shanghai database
dfshmerg = pd.merge(dfscrape, dfshang, how='inner', on='university_name', sort=False, suffixes=('_web', '_csv'))
dfshmerg.sort_values(['national_rank_web','university_name'], inplace=True)
newcols = [col for col in dfshmerg.columns.tolist() if col!='uname' and col!='yr' and col!='national_rank_csv' and 
          col!='world_rank']
dfshmerg = dfshmerg[newcols]
dfshmerg.rename(columns={'national_rank_web':'national_rank'}, inplace=True)
print(dfshmerg.shape)
dfshmerg.tail()

(146, 10)

,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
132,"University of Maryland, Baltimore County",126,NaN,0.0,0.0,17.4,6.5,17.8,17.3,2015
135,University of Oklahoma - Norman,126,NaN,0.0,0.0,5.1,10.0,28.0,14.0,2015
144,University of Rhode Island,126,NaN,0.0,0.0,15.2,6.1,21.1,16.0,2015
134,Utah State University,126,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
145,Wake Forest University,126,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [560]:
# prepare university names for joining with other databases.

def prepnames(df):
    ptrn = r'the | \(mit\)|, | - \w*| at |-| of | campus'
    df['university_name'] = df['university_name'].str.lower()
    df['university_name'] = df['university_name'].str.replace(ptrn, ' ')
    df['university_name'] = df['university_name'].str.strip()
    return df
    
dfshanghai = prepnames(dfshmerg)
print(dfshanghai.shape)
dfshanghai.tail(10)

(146, 10)

,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
138,texas tech university,126,NaN,0.0,0.0,5.1,3.3,31.6,15.1,2015
127,university texas medical branch galveston,126,NaN,0.0,0.0,13.9,5.5,21.3,13.8,2015
137,university alaska fairbanks,126,NaN,0.0,0.0,12.2,11.7,19.3,15.7,2015
126,university arkansas fayetteville,126,NaN,0.0,0.0,12.2,6.1,24.4,14.1,2015
136,university arkansas little rock,126,NaN,0.0,0.0,10.7,2.1,24.4,19.9,2015
132,university maryland baltimore county,126,NaN,0.0,0.0,17.4,6.5,17.8,17.3,2015
135,university oklahoma norman,126,NaN,0.0,0.0,5.1,10.0,28.0,14.0,2015
144,university rhode island,126,NaN,0.0,0.0,15.2,6.1,21.1,16.0,2015
134,utah state university,126,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
145,wake forest university,126,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

## Convert other rankings tables to dataframes

In [168]:
# find max years
ranks = {"cwur", "times", "shanghai"}
# ranks.remove('school_and_country_table')
maxyears = {}
for rank in ranks:
    val = pd.read_sql_query('SELECT max(year) FROM '+rank, engine).values[0][0]
    maxyears[rank]=val
maxyears

{'cwur': 2015, 'shanghai': 2015, 'times': 2016}

In [624]:
%%sql
SELECT * FROM cwur WHERE year=(
    SELECT MAX(year) FROM cwur
) AND country='USA'

229 rows affected.

[(1, 'Harvard University', 'USA', 1, 1, 1, 1, 1, 1, 1, 1.0, 3, 100.0, 2015),
 (2, 'Stanford University', 'USA', 2, 9, 2, 4, 5, 3, 3, 4.0, 10, 98.66, 2015),
 (3, 'Massachusetts Institute of Technology', 'USA', 3, 3, 11, 2, 15, 2, 2, 2.0, 1, 97.54, 2015),
 (6, 'Columbia University', 'USA', 4, 13, 6, 9, 13, 13, 11, 12.0, 4, 96.14, 2015),
 (7, 'University of California, Berkeley', 'USA', 5, 5, 21, 6, 10, 4, 4, 7.0, 29, 92.25, 2015),
 (8, 'University of Chicago', 'USA', 6, 11, 14, 8, 17, 16, 12, 22.0, 141, 90.7, 2015),
 (9, 'Princeton University', 'USA', 7, 4, 15, 3, 72, 25, 24, 33.0, 225, 89.42, 2015),
 (10, 'Cornell University', 'USA', 8, 12, 18, 14, 24, 15, 25, 22.0, 11, 86.79, 2015),
 (11, 'Yale University', 'USA', 9, 10, 26, 11, 18, 8, 35, 20.0, 49, 86.61, 2015),
 (12, 'California Institute of Technology', 'USA', 10, 6, 328, 7, 53, 9, 19, 25.0, 13, 84.4, 2015),
 (14, 'University of Pennsylvania', 'USA', 11, 20, 4, 28, 8, 18, 14, 9.0, 14, 77.6, 2015),
 (15, 'University of California, Los Angeles', 'USA', 12, 28, 27, 13, 6, 14, 8, 6.0, 9, 76.91, 2015),
 (16, 'Johns Hopkins University', 'USA', 13, 18, 84, 16, 4, 11, 5, 3.0, 2, 71.6, 2015),
 (18, 'New York University', 'USA', 14, 32, 22, 18, 47, 29, 46, 32.0, 43, 68.39, 2015),
 (19, 'University of Michigan, Ann Arbor', 'USA', 15, 24, 17, 140, 3, 20, 6, 14.0, 12, 68.36, 2015),
 (21, 'University of California, San Diego', 'USA', 16, 36, 567, 19, 16, 5, 15, 15.0, 17, 66.59, 2015),
 (22, 'Northwestern University', 'USA', 17, 163, 12, 104, 27, 34, 27, 26.0, 42, 66.56, 2015),
 (25, 'University of Wisconsin–Madison', 'USA', 18, 29, 29, 34, 21, 24, 22, 27.0, 27, 64.51, 2015),
 (26, 'University of California, San Francisco', 'USA', 19, 367, 567, 20, 22, 7, 15, 11.0, 56, 63.69, 2015),
 (28, 'Duke University', 'USA', 20, 74, 31, 56, 19, 23, 15, 16.0, 33, 61.55, 2015),
 (29, 'Rockefeller University', 'USA', 21, 49, 567, 12, 372, 28, 115, 70.0, 289, 61.28, 2015),
 (30, 'University of Texas at Austin', 'USA', 22, 75, 36, 25, 48, 50, 26, 71.0, 38, 61.14, 2015),
 (31, 'University of Washington - Seattle', 'USA', 23, 48, 103, 41, 9, 10, 10, 5.0, 40, 60.61, 2015),
 (33, 'University of Illinois at Urbana–Champaign', 'USA', 24, 33, 75, 21, 40, 48, 42, 74.0, 65, 59.94, 2015),
 (40, 'University of North Carolina at Chapel Hill', 'USA', 25, 124, 69, 86, 32, 32, 19, 21.0, 41, 57.09, 2015),
 (41, 'University of Virginia', 'USA', 26, 209, 20, 126, 94, 74, 88, 90.0, 97, 56.73, 2015),
 (43, 'Purdue University, West Lafayette', 'USA', 27, 55, 33, 47, 75, 95, 68, 117.0, 28, 56.39, 2015),
 (44, 'Dartmouth College', 'USA', 28, 40, 19, 218, 246, 167, 136, 154.0, 63, 56.35, 2015),
 (46, 'University of Pittsburgh - Pittsburgh Campus', 'USA', 29, 79, 169, 218, 25, 57, 21, 24.0, 50, 55.63, 2015),
 (47, 'Pennsylvania State University, University Park', 'USA', 30, 230, 44, 62, 49, 43, 28, 38.0, 92, 55.54, 2015),
 (48, 'University of Minnesota, Twin Cities', 'USA', 31, 63, 130, 63, 23, 40, 31, 28.0, 59, 55.51, 2015),
 (49, 'Ohio State University, Columbus', 'USA', 32, 96, 87, 82, 28, 52, 31, 38.0, 44, 55.39, 2015),
 (50, 'Rutgers University-New Brunswick', 'USA', 33, 91, 40, 37, 100, 66, 46, 89.0, 61, 55.23, 2015),
 (51, 'University of Southern California', 'USA', 34, 152, 62, 39, 57, 64, 101, 56.0, 34, 55.12, 2015),
 (52, 'Washington University in St. Louis', 'USA', 35, 101, 96, 71, 41, 21, 29, 17.0, 169, 55.03, 2015),
 (53, 'University of California, Davis', 'USA', 36, 54, 227, 59, 29, 33, 35, 52.0, 62, 54.85, 2015),
 (54, 'University of Colorado Boulder', 'USA', 37, 80, 67, 31, 96, 38, 45, 74.0, 133, 54.62, 2015),
 (60, 'University of Florida', 'USA', 38, 214, 276, 96, 37, 73, 46, 59.0, 5, 54.18, 2015),
 (61, 'Carnegie Mellon University', 'USA', 39, 25, 160, 23, 211, 225, 78, 150.0, 165, 54.0, 2015),
 (64, 'University of California, Santa Barbara', 'USA', 40, 133, 280, 29, 111, 59, 46, 55.0, 77, 53.63, 2015),
 (66, 'Boston University', 'USA', 41, 303, 54, 83, 60, 45, 37, 34.0, 135, 53.43, 2015),
 (68, 'University of Arizona', 'USA', 42, 139, 55, 87, 74, 39, 31, 49.0, 235, 53.26, 2015),
 (69, 'Vanderbilt University', 'USA', 43, 87, 94, 110, 55, 62, 59, 41.0, 51, 53.05, 2015),
 (70, 'University of Utah', 'USA', 44, 97, 105, 67, 97, 65, 101, 90.0, 19, 52.89, 2015),
 (72, 'University of Maryland, College Park', 'USA', 45, 68, 210, 43, 58, 47, 39, 67.0, 280, 52.72, 2015),
 (75, 'University of Texas Southwestern Medical Center', 'USA', 46, 59, 567, 35, 131, 30, 78, 40.0, 173, 52.5, 2015),
 (77, 'University of Notre Dame', 'USA', 47, 221, 24, 155, 242, 242, 182, 235.0, 352, 52.27, 2015),
 (80, 'Georgia Institute of Technology', 'USA', 48, 135, 60, 218, 107, 152, 78, 106.0, 36, 52.08, 2015),
 (81, 'University of Rochester', 'USA', 49, 72, 53, 113, 114, 118, 68, 79.0, 64, 52.03, 2015),
 (83, 'Brown University', 'USA', 50, 64, 43, 73, 121, 67, 76, 99.0, 200, 52.01, 2015),
 (84, 'Emory University', 'USA', 51, 367, 146, 116, 67, 60, 93, 41.0, 55, 51.85, 2015),
 (89, 'University of California, Irvine', 'USA', 52, 227, 567, 44, 78, 51, 68, 54.0, 162, 51.51, 2015),
 (90, 'University of Texas MD Anderson Cancer Center', 'USA', 53, 367, 567, 80, 93, 72, 42, 29.0, 71, 51.51, 2015),
 (95, 'Tufts University', 'USA', 54, 60, 48, 182, 166, 160, 93, 85.0, 84, 51.22, 2015),
 (97, 'Arizona State University', 'USA', 55, 367, 455, 66, 143, 85, 76, 140.0, 21, 51.13, 2015),
 (102, 'Texas A&M University, College Station', 'USA', 56, 339, 108, 46, 77, 98, 88, 143.0, 201, 50.43, 2015),
 (105, 'Case Western Reserve University', 'USA', 57, 50, 215, 195, 137, 106, 59, 74.0, 111, 50.28, 2015),
 (106, 'Indiana University - Bloomington', 'USA', 58, 134, 35, 178, 180, 143, 161, 190.0, 178, 50.26, 2015),
 (113, 'Georgetown University', 'USA', 59, 159, 34, 218, 298, 321, 321, 204.0, 122, 49.92, 2015),
 (118, 'Michigan State University', 'USA', 60, 112, 162, 218, 88, 123, 65, 111.0, 136, 49.74, 2015),
 (120, 'Rice University', 'USA', 61, 52, 161, 95, 255, 150, 59, 130.0, 76, 49.73, 2015),
 (121, 'Baylor College of Medicine', 'USA', 62, 367, 567, 218, 113, 41, 101, 44.0, 199, 49.7, 2015),
 (127, 'University of Colorado Denver', 'USA', 63, 367, 567, 140, 135, 110, 128, 66.0, 72, 49.48, 2015),
 (137, 'University of Miami', 'USA', 64, 367, 241, 218, 159, 130, 82, 112.0, 73, 49.09, 2015),
 (138, 'Stony Brook University', 'USA', 65, 186, 567, 58, 173, 84, 93, 134.0, 96, 49.09, 2015),
 (139, 'University of Texas at Dallas', 'USA', 66, 367, 159, 218, 250, 151, 59, 49.0, 313, 49.05, 2015),
 (141, 'University of Iowa', 'USA', 67, 233, 296, 167, 103, 83, 115, 112.0, 121, 49.01, 2015),
 (142, 'Southern Methodist University', 'USA', 68, 179, 28, 218, 624, 655, 368, 646.0, 824, 48.99, 2015),
 (143, 'Icahn School of Medicine at Mount Sinai', 'USA', 69, 367, 567, 218, 160, 71, 161, 63.0, 101, 48.96, 2015),
 (146, 'University of Alabama at Birmingham', 'USA', 70, 367, 567, 218, 141, 124, 128, 71.0, 130, 48.79, 2015),
 (154, 'University of California, Santa Cruz', 'USA', 71, 175, 567, 100, 243, 49, 115, 99.0, 183, 48.59, 2015),
 (157, 'University of Cincinnati', 'USA', 72, 188, 86, 218, 150, 171, 128, 127.0, 263, 48.56, 2015),
 (159, 'Wake Forest University', 'USA', 73, 265, 83, 218, 249, 244, 128, 125.0, 124, 48.52, 2015),
 (164, 'Indiana University-Purdue University Indianapolis', 'USA', 74, 367, 492, 218, 187, 190, 125, 122.0, 79, 48.28, 2015),
 (166, 'Oregon Health & Science University', 'USA', 75, 367, 567, 128, 184, 115, 125, 105.0, 144, 48.23, 2015),
 (171, 'Yeshiva University', 'USA', 76, 200, 567, 218, 195, 91, 161, 109.0, 128, 48.11, 2015),
 (175, 'University of Maryland, Baltimore', 'USA', 77, 367, 567, 218, 125, 112, 197, 116.0, 180, 48.05, 2015),
 (181, 'University of New Mexico', 'USA', 78, 367, 567, 218, 223, 170, 82, 147.0, 100, 47.95, 2015),
 (183, 'University of Massachusetts Medical School', 'USA', 79, 367, 567, 80, 296, 76, 234, 122.0, 143, 47.85, 2015),
 (184, 'University of Houston', 'USA', 80, 367, 42, 218, 310, 257, 511, 349.0, 156, 47.83, 2015),
 (187, 'Iowa State University', 'USA', 81, 286, 186, 109, 151, 178, 82, 184.0, 339, 47.71, 2015),
 (189, 'Wayne State University', 'USA', 82, 367, 183, 218, 189, 258, 125, 176.0, 117, 47.67, 2015),
 (190, 'University of South Florida - Tampa', 'USA', 83, 367, 418, 218, 233, 251, 197, 164.0, 70, 47.66, 2015),
 (194, 'University of Missouri–Columbia', 'USA', 84, 250, 88, 98, 222, 226, 161, 242.0, 150, 47.59, 2015),
 (196, 'University of Kansas', 'USA', 85, 228, 91, 218, 212, 161, 161, 235.0, 127, 47.52, 2015),
 (198, 'University of Georgia', 'USA', 86, 93, 188, 172, 181, 132, 234, 256.0, 82, 47.5, 2015),
 (202, 'George Washington University', 'USA', 87, 192, 56, 218, 301, 227, 264, 235.0, 326, 47.46, 2015),
 (203, 'University of Illinois at Chicago', 'USA', 88, 367, 541, 218, 126, 196, 287, 179.0, 129, 47.39, 2015),
 (214, 'University of California, Riverside', 'USA', 89, 247, 567, 218, 209, 113, 161, 169.0, 194, 47.13, 2015),
 (218, 'University of Connecticut', 'USA', 90, 296, 259, 218, 168, 193, 197, 190.0, 186, 47.06, 2015),
 (219, 'University of Massachusetts Amherst', 'USA', 91, 212, 141, 159, 198, 191, 212, 200.0, 356, 47.05, 2015),
 (227, 'University of Tennessee, Knoxville', 'USA', 92, 319, 117, 218, 196, 187, 197, 219.0, 449, 46.96, 2015),
 (232, 'North Carolina State University', 'USA', 93, 251, 228, 218, 157, 206, 182, 242.0, 161, 46.89, 2015),
 (234, 'University of Texas Health Science Center at San Antonio', 'USA', 94, 367, 567, 218, 314, 229, 197, 140.0, 315, 46.88, 2015),
 (249, 'University of Texas Health Science Center at Houston', 'USA', 95, 367, 567, 155, 257, 162, 212, 190.0, 337, 46.56, 2015),
 (252, 'Florida State University', 'USA', 96, 367, 334, 218, 200, 184, 136, 225.0, 411, 46.53, 2015),
 (254, 'Thomas Jefferson University', 'USA', 97, 158, 567, 218, 333, 334, 161, 179.0, 502, 46.47, 2015),
 (256, 'Virginia Polytechnic Institute and State University', 'USA', 98, 283, 152, 218, 201, 264, 234, 285.0, 181, 46.46, 2015),
 (258, 'Drexel University', 'USA', 99, 367, 233, 218, 362, 338, 287, 273.0, 91, 46.43, 2015),
 (259, 'Virginia Commonwealth University', 'USA', 100, 367, 403, 150, 264, 253, 321, 213.0, 206, 46.43, 2015),
 (260, 'Oregon State University', 'USA', 101, 189, 239, 218, 263, 148, 161, 235.0, 389, 46.42, 2015),
 (264, 'Lehigh University', 'USA', 102, 367, 47, 218, 615, 542, 511, 511.0, 534, 46.4, 2015),
 (267, 'University of Kentucky', 'USA', 103, 332, 290, 218, 182, 216, 321, 231.0, 447, 46.37, 2015),
 (271, 'Colorado State University - Fort Collins', 'USA', 104, 211, 493, 148, 244, 203, 234, 231.0, 257, 46.32, 2015),
 (272, 'Tulane University', 'USA', 105, 324, 144, 218, 365, 299, 264, 251.0, 258, 46.31, 2015),
 (273, 'University at Buffalo, The State University of New York', 'USA', 106, 367, 398, 218, 203, 298, 287, 235.0, 237, 46.3, 2015),
 (274, 'Brandeis University', 'USA', 107, 51, 342, 78, 549, 195, 428, 330.0, 249, 46.29, 2015),
 (275, 'Northeastern University', 'USA', 108, 316, 125, 218, 370, 312, 264, 362.0, 86, 46.29, 2015),
 (281, 'University of Delaware', 'USA', 109, 318, 337, 135, 272, 304, 234, 292.0, 120, 46.21, 2015),
 (282, 'Rensselaer Polytechnic Institute', 'USA', 110, 137, 142, 218, 402, 346, 182, 292.0, 210, 46.19, 2015),
 (289, 'City College of New York', 'USA', 111, 31, 187, 218, 680, 422, 511, 590.0, 358, 46.12, 2015),
 (291, 'University of Texas at San Antonio', 'USA', 112, 367, 567, 218, 445, 376, 197, 216.0, 254, 46.1, 2015),
 (297, 'Medical College of Wisconsin', 'USA', 113, 367, 567, 218, 337, 284, 321, 219.0, 659, 45.97, 2015),
 (298, 'University of Louisville', 'USA', 114, 367, 484, 218, 338, 405, 368, 300.0, 105, 45.97, 2015),
 (300, 'University of South Carolina - Columbia', 'USA', 115, 367, 299, 185, 262, 367, 146, 273.0, 649, 45.95, 2015),
 (303, 'Medical University of South Carolina', 'USA', 116, 367, 567, 218, 316, 364, 287, 231.0, 508, 45.94, 2015),
 (314, 'University of Nebraska–Lincoln', 'USA', 117, 165, 207, 218, 278, 262, 234, 311.0, 456, 45.8, 2015),
 (323, 'Rush University', 'USA', 118, 367, 567, 218, 427, 404, 197, 260.0, 871, 45.71, 2015),
 (324, 'University of Vermont', 'USA', 119, 198, 256, 218, 357, 288, 368, 285.0, 397, 45.7, 2015),
 (326, 'Boston College', 'USA', 120, 367, 97, 218, 557, 363, 197, 402.0, 386, 45.65, 2015),
 (332, 'Louisiana State University - Baton Rouge', 'USA', 121, 270, 177, 218, 292, 215, 197, 353.0, 458, 45.61, 2015),
 (339, 'University of Oregon', 'USA', 122, 346, 567, 218, 378, 217, 161, 295.0, 729, 45.55, 2015),
 (350, 'University of Oklahoma - Norman Campus', 'USA', 123, 367, 150, 218, 383, 240, 234, 362.0, 474, 45.49, 2015),
 (351, 'Wesleyan University', 'USA', 124, 154, 61, 218, 983, 506, 812, 850.0, 871, 45.48, 2015),
 (353, 'Kansas State University', 'USA', 125, 130, 229, 218, 373, 320, 212, 358.0, 294, 45.47, 2015),
 (359, 'University of New Hampshire', 'USA', 126, 367, 318, 79, 531, 273, 234, 362.0, 596, 45.42, 2015),
 (360, 'College of William and Mary', 'USA', 127, 367, 85, 218, 611, 459, 321, 511.0, 809, 45.42, 2015),
 (361, 'San Diego State University', 'USA', 128, 248, 204, 218, 467, 302, 264, 339.0, 509, 45.41, 2015),
 (364, 'Saint Louis University', 'USA', 129, 367, 261, 202, 458, 293, 428, 330.0, 286, 45.39, 2015),
 (365, 'Colorado School of Mines', 'USA', 130, 367, 81, 218, 668, 601, 321, 565.0, 690, 45.39, 2015),
 (378, 'University of Texas Medical Branch at Galveston', 'USA', 131, 367, 567, 218, 401, 311, 321, 324.0, 333, 45.3, 2015),
 (380, 'Washington State University, Pullman', 'USA', 132, 367, 301, 131, 334, 234, 428, 362.0, 298, 45.29, 2015),
 (381, 'Temple University', 'USA', 133, 272, 553, 218, 326, 349, 511, 349.0, 211, 45.29, 2015),
 (388, 'University at Albany, SUNY', 'USA', 134, 180, 567, 165, 411, 374, 212, 353.0, 531, 45.22, 2015),
 (394, 'University of Central Florida', 'USA', 135, 367, 501, 218, 381, 386, 511, 381.0, 159, 45.18, 2015),
 (399, 'University of Nebraska Medical Center', 'USA', 136, 367, 567, 218, 463, 399, 368, 344.0, 253, 45.16, 2015),
 (403, 'Brigham Young University', 'USA', 137, 298, 361, 218, 498, 424, 287, 424.0, 134, 45.15, 2015),
 (409, 'University of Alabama - Tuscaloosa', 'USA', 138, 325, 140, 218, 511, 490, 368, 471.0, 314, 45.14, 2015),
 (412, 'Oklahoma State University–Stillwater', 'USA', 139, 239, 153, 218, 447, 648, 428, 471.0, 303, 45.13, 2015),
 (414, 'George Mason University', 'USA', 140, 367, 567, 98, 450, 371, 264, 388.0, 526, 45.13, 2015),
 (424, 'Georgia Regents University', 'USA', 141, 367, 567, 218, 482, 418, 368, 341.0, 481, 45.09, 2015),
 (428, 'University of Denver', 'USA', 142, 312, 101, 218, 901, 522, 511, 590.0, 760, 45.08, 2015),
 (429, 'University of Arkansas for Medical Sciences', 'USA', 143, 367, 567, 218, 501, 565, 812, 344.0, 340, 45.08, 2015),
 (437, 'Loyola University Chicago', 'USA', 144, 367, 366, 218, 522, 438, 511, 353.0, 713, 45.03, 2015),
 (441, 'West Virginia University', 'USA', 145, 328, 178, 218, 441, 409, 428, 437.0, 617, 45.02, 2015),
 (444, 'Miami University', 'USA', 146, 367, 102, 218, 715, 543, 511, 659.0, 871, 45.0, 2015),
 (445, 'University of Dayton', 'USA', 147, 348, 90, 218, 988, 818, 511, 781.0, 675, 44.99, 2015),
 (454, 'University of Nevada, Reno', 'USA', 148, 367, 364, 218, 542, 382, 264, 381.0, 708, 44.93, 2015),
 (460, 'Ohio University', 'USA', 149, 205, 174, 218, 590, 472, 812, 565.0, 224, 44.91, 2015),
 (463, 'Syracuse University', 'USA', 150, 138, 221, 218, 453, 494, 428, 495.0, 392, 44.91, 2015),
 (466, 'University of Wyoming', 'USA', 151, 367, 230, 218, 534, 316, 321, 457.0, 380, 44.89, 2015),
 (469, 'Texas Tech University (TTU)', 'USA', 152, 367, 184, 218, 455, 618, 287, 511.0, 809, 44.87, 2015),
 (476, 'University of Oklahoma Health Sciences Center', 'USA', 153, 367, 567, 218, 580, 461, 511, 375.0, 482, 44.86, 2015),
 (480, 'Illinois Institute of Technology', 'USA', 154, 274, 114, 218, 784, 713, 511, 715.0, 861, 44.85, 2015),
 (483, 'Clemson University', 'USA', 155, 367, 535, 218, 433, 497, 645, 396.0, 510, 44.83, 2015),
 (488, 'University of Hawaii at Manoa', 'USA', 156, 367, 435, 153, 448, 213, 368, 457.0, 490, 44.82, 2015),
 (489, 'University of Nebraska Omaha', 'USA', 157, 367, 365, 218, 704, 606, 428, 396.0, 871, 44.81, 2015),
 (493, 'University of Maryland, Baltimore County', 'USA', 158, 367, 567, 218, 587, 391, 428, 402.0, 423, 44.8, 2015),
 (508, 'Creighton University', 'USA', 159, 367, 567, 218, 824, 724, 368, 402.0, 615, 44.75, 2015),
 (509, 'Georgia State University', 'USA', 160, 367, 405, 218, 449, 484, 511, 457.0, 360, 44.74, 2015),
 (510, 'University of Wisconsin–Milwaukee', 'USA', 161, 229, 248, 218, 516, 491, 511, 503.0, 871, 44.74, 2015),
 (516, 'SUNY Downstate Medical Center', 'USA', 162, 367, 567, 155, 756, 446, 511, 437.0, 660, 44.72, 2015),
 (519, 'New Mexico State University', 'USA', 163, 367, 432, 218, 711, 585, 321, 424.0, 871, 44.71, 2015),
 (522, 'University of Mississippi - Oxford Campus', 'USA', 164, 367, 567, 218, 508, 851, 428, 424.0, 611, 44.7, 2015),
 (543, 'University of Akron', 'USA', 165, 367, 400, 218, 656, 653, 645, 606.0, 166, 44.65, 2015),
 (546, 'New York Medical College', 'USA', 166, 367, 567, 218, 752, 622, 812, 437.0, 719, 44.64, 2015),
 (549, 'Auburn University', 'USA', 167, 367, 232, 218, 472, 569, 368, 606.0, 425, 44.63, 2015),
 (550, 'University of Arkansas - Fayetteville', 'USA', 168, 204, 345, 218, 517, 571, 645, 520.0, 409, 44.62, 2015),
 (554, 'University of Missouri–Kansas City', 'USA', 169, 311, 480, 218, 634, 447, 645, 471.0, 687, 44.61, 2015),
 (556, 'Montana State University - Bozeman', 'USA', 170, 367, 477, 218, 575, 323, 287, 495.0, 744, 44.61, 2015),
 (566, 'Utah State University', 'USA', 171, 166, 352, 218, 564, 414, 368, 565.0, 371, 44.59, 2015),
 (567, 'Baylor University', 'USA', 172, 367, 293, 218, 682, 681, 321, 540.0, 630, 44.59, 2015),
 (571, 'Kent State University', 'USA', 173, 367, 567, 218, 610, 436, 511, 486.0, 498, 44.58, 2015),
 (585, 'University of Montana - Missoula', 'USA', 174, 353, 567, 218, 713, 315, 428, 503.0, 702, 44.54, 2015),
 (590, 'Southern Illinois University Carbondale', 'USA', 175, 208, 533, 218, 591, 512, 812, 520.0, 588, 44.53, 2015),
 (591, 'University of Alaska Fairbanks', 'USA', 176, 367, 420, 218, 642, 373, 511, 520.0, 792, 44.53, 2015),
 (592, 'University of Toledo', 'USA', 177, 367, 567, 218, 618, 555, 812, 606.0, 220, 44.53, 2015),
 (600, 'LSU Health Sciences Center New Orleans', 'USA', 178, 367, 567, 218, 823, 544, 645, 503.0, 661, 44.52, 2015),
 (605, 'Florida International University', 'USA', 179, 367, 567, 218, 496, 508, 428, 540.0, 585, 44.5, 2015),
 (606, 'University of Rhode Island', 'USA', 180, 367, 265, 218, 664, 385, 511, 637.0, 472, 44.5, 2015),
 (607, 'Mississippi State University', 'USA', 181, 155, 220, 218, 605, 608, 645, 754.0, 566, 44.5, 2015),
 (609, 'University of New Orleans', 'USA', 182, 367, 567, 218, 944, 840, 428, 511.0, 871, 44.5, 2015),
 (616, 'Texas A&M Health Science Center', 'USA', 183, 367, 567, 218, 672, 440, 645, 558.0, 336, 44.49, 2015),
 (625, 'Louisiana Tech University', 'USA', 184, 367, 197, 218, 969, 871, 428, 754.0, 792, 44.47, 2015),
 (626, 'University of Texas at Arlington', 'USA', 185, 367, 567, 218, 492, 532, 511, 565.0, 462, 44.47, 2015),
 (635, 'State University of New York Upstate Medical University', 'USA', 186, 367, 567, 218, 774, 632, 428, 549.0, 598, 44.45, 2015),
 (643, 'Northern Illinois University', 'USA', 187, 367, 284, 218, 669, 661, 321, 671.0, 621, 44.44, 2015),
 (647, 'Binghamton University', 'USA', 188, 367, 263, 218, 710, 593, 812, 671.0, 853, 44.43, 2015),
 (650, 'Albany Medical College', 'USA', 189, 171, 567, 218, 893, 771, 645, 579.0, 720, 44.43, 2015),
 (655, 'University of Idaho', 'USA', 190, 367, 567, 218, 664, 417, 511, 579.0, 469, 44.42, 2015),
 (656, 'Old Dominion University', 'USA', 191, 367, 567, 218, 719, 590, 511, 590.0, 379, 44.42, 2015),
 (661, 'Portland State University', 'USA', 192, 367, 245, 218, 800, 548, 812, 741.0, 484, 44.41, 2015),

In [583]:
# repeat sql query using pandas built-in function
# give the repeated table different columns names so duplicates can be easily removed

def ranksqltopandas(table, country):
    query = '''
    SELECT * FROM {0} WHERE year=(
        SELECT MAX(year) FROM {0}
    ) AND country={1}
    '''.format(table, country)
    dfres = pd.read_sql_query(query, engine)

    # remove duplicates from sql self-join
    newcols = [col for col in dfres.columns.tolist() if col!='uname' and col!='yr']
    dfres = dfres[newcols]
    return dfres

results = []
for table,country in zip(["cwur", "times"], ["'USA'", "'United States of America'"]):
    res = ranksqltopandas(table, country)
    print(res.shape)
    results.append(res)

(229, 14)
(146, 14)

In [584]:
# results[0]['national_rank'].dtype

dfcwur = prepnames(results[0].copy())
dfcwur.drop(['world_rank', 'country'], axis=1, inplace=True)
dfcwur.sort_values(['national_rank', 'university_name'], axis=0, inplace=True)
dfcwur.reset_index(drop=True, inplace=True)
print(dfcwur.shape)
dfcwur.head(10)

(229, 12)

,university_name,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,harvard university,1,1,1,1,1,1,1,1.0,3,100.00,2015
1,stanford university,2,9,2,4,5,3,3,4.0,10,98.66,2015
2,massachusetts institute technology,3,3,11,2,15,2,2,2.0,1,97.54,2015
3,columbia university,4,13,6,9,13,13,11,12.0,4,96.14,2015
4,university california berkeley,5,5,21,6,10,4,4,7.0,29,92.25,2015
5,university chicago,6,11,14,8,17,16,12,22.0,141,90.70,2015
6,princeton university,7,4,15,3,72,25,24,33.0,225,89.42,2015
7,cornell university,8,12,18,14,24,15,25,22.0,11,86.79,2015
8,yale university,9,10,26,11,18,8,35,20.0,49,86.61,2015
9,california institute technology,10,6,328,7,53,9,19,25.0,13,84.40,2015

In [585]:
# results[1]['world_rank'].dtype
dftimes = prepnames(results[1].copy())
dftimes['world_rank'] = dftimes['world_rank'].str.replace('=','')
dftimes['world_rank'] = dftimes['world_rank'].apply(lambda x: int(re.match('\d+', x).group()))
dftimes.sort_values('world_rank', axis=0, inplace=True)

print(dftimes.shape)
dftimes.head(10)

(146, 14)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,california institute technology,United States of America,95.6,64.0,97.6,99.8,97.8,95.2,"2,243",6.9,27%,33 : 67,2016
1,3,stanford university,United States of America,92.5,76.3,96.2,99.9,63.3,93.9,"15,596",7.8,22%,42 : 58,2016
2,5,massachusetts institute technology,United States of America,89.4,84.0,88.6,99.7,95.4,92.0,"11,074",9.0,33%,37 : 63,2016
3,6,harvard university,United States of America,83.6,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,None,2016
4,7,princeton university,United States of America,85.1,78.5,91.9,99.3,52.1,90.1,"7,929",8.4,27%,45 : 55,2016
5,10,university chicago,United States of America,85.7,65.0,88.9,99.2,36.6,87.9,"14,221",6.9,21%,42 : 58,2016
6,11,johns hopkins university,United States of America,77.6,70.0,90.4,98.2,100.0,87.6,"15,128",3.6,23%,50 : 50,2016
7,12,yale university,United States of America,86.5,64.3,87.8,97.2,43.3,87.4,"11,751",4.4,20%,50 : 50,2016
8,13,university california berkeley,United States of America,80.4,61.9,91.1,99.7,47.9,87.2,"36,186",16.4,15%,50 : 50,2016
9,15,columbia university,United States of America,85.9,73.5,82.2,98.1,-,86.1,"25,055",5.9,28%,None,2016

In [586]:
# create dictionary from ranks and locations
worldtonatl = dict( [(kv[1], 1+kv[0]) for kv in enumerate(sorted(dftimes['world_rank'].unique().tolist()))])
print(worldtonatl)

{1: 1, 3: 2, 5: 3, 6: 4, 7: 5, 10: 6, 11: 7, 12: 8, 13: 9, 15: 10, 16: 11, 17: 12, 18: 13, 147: 50, 20: 14, 21: 15, 22: 16, 601: 67, 25: 17, 30: 18, 133: 47, 32: 19, 161: 52, 163: 53, 36: 20, 39: 21, 41: 22, 193: 60, 44: 23, 301: 63, 46: 24, 50: 25, 51: 26, 158: 51, 182: 56, 501: 66, 185: 57, 60: 27, 189: 58, 190: 59, 63: 28, 64: 29, 65: 30, 68: 31, 201: 61, 75: 32, 79: 33, 141: 48, 87: 34, 164: 54, 90: 35, 94: 36, 351: 64, 144: 49, 99: 37, 101: 38, 401: 65, 104: 39, 106: 40, 167: 55, 108: 41, 113: 42, 117: 43, 251: 62, 120: 44, 123: 45, 127: 46}

In [587]:
# convert world ranks to national ranks

dftimes['national_rank'] = dftimes['world_rank'].apply(lambda x: worldtonatl[x])
dftimes.drop(['world_rank','country'], inplace=True, axis=1)
dftimes.sort_values(['national_rank', 'university_name'], inplace=True)
dftimes.head(10)

,university_name,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,national_rank
0,california institute technology,95.6,64.0,97.6,99.8,97.8,95.2,"2,243",6.9,27%,33 : 67,2016,1
1,stanford university,92.5,76.3,96.2,99.9,63.3,93.9,"15,596",7.8,22%,42 : 58,2016,2
2,massachusetts institute technology,89.4,84.0,88.6,99.7,95.4,92.0,"11,074",9.0,33%,37 : 63,2016,3
3,harvard university,83.6,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,None,2016,4
4,princeton university,85.1,78.5,91.9,99.3,52.1,90.1,"7,929",8.4,27%,45 : 55,2016,5
5,university chicago,85.7,65.0,88.9,99.2,36.6,87.9,"14,221",6.9,21%,42 : 58,2016,6
6,johns hopkins university,77.6,70.0,90.4,98.2,100.0,87.6,"15,128",3.6,23%,50 : 50,2016,7
7,yale university,86.5,64.3,87.8,97.2,43.3,87.4,"11,751",4.4,20%,50 : 50,2016,8
8,university california berkeley,80.4,61.9,91.1,99.7,47.9,87.2,"36,186",16.4,15%,50 : 50,2016,9
9,columbia university,85.9,73.5,82.2,98.1,-,86.1,"25,055",5.9,28%,None,2016,10

In [594]:
# use two consecutive merges/innerjoins to combine all 3 ranking systems

dftwo = pd.merge(dftimes,dfcwur, how='inner', on='university_name', suffixes=('_times', '_cwur'))
print(dftwo.shape)
dfthree = pd.merge(dftwo,dfshanghai, how='inner', on='university_name', suffixes=('', '_shang'))
print(dfthree.shape)
# dfthree.head()

(118, 24)
(86, 33)

In [595]:
# replace column names for better understanding of source

dfthree.rename(columns={'national_rank':'national_rank_shang', 'year':'year_shang', 
                       'total_score':'total_score_times', 'score':'total_score_cwur'}, inplace=True)
print(dfthree.columns.tolist())

['university_name', 'teaching', 'international', 'research', 'citations_times', 'income', 'total_score_times', 'num_students', 'student_staff_ratio', 'international_students', 'female_male_ratio', 'year_times', 'national_rank_times', 'national_rank_cwur', 'quality_of_education', 'alumni_employment', 'quality_of_faculty', 'publications', 'influence', 'citations_cwur', 'broad_impact', 'patents', 'total_score_cwur', 'year_cwur', 'national_rank_shang', 'total_score_shang', 'alumni', 'award', 'hici', 'ns', 'pub', 'pcp', 'year_shang']

In [596]:
# calculate weighted rank where 'times' and 'cwur' are twice as valuable as 'shanghai'
dfthree['total_score_times'] = dfthree['total_score_times'].str.replace('-', '40')
dfthree['total_score_times'] = dfthree['total_score_times'].astype(float)
dfthree['total_score_shang'].fillna(20, inplace=True)
dfthree['weighted_score'] = round(0.25*round(dfthree['total_score_shang']/dfthree['total_score_shang'].max(),2) + \
                            0.5*round(dfthree['total_score_times']/dfthree['total_score_times'].max(),2) + \
                            0.25*round(dfthree['total_score_cwur']/dfthree['total_score_cwur'].max(),2), 2)
scoretorank = dict( [(kv[1], 1+kv[0]) for kv in enumerate(sorted(dfthree['weighted_score'].unique().tolist(), 
                                                               reverse=True))])
dfthree['weighted_rank'] = dfthree['weighted_score'].apply(lambda x: scoretorank[x])
dfthree.sort_values(['weighted_rank','university_name'], inplace=True)

In [597]:
# format university names to look nice

def unameformat(x):
    return ' '.join([s.capitalize() for s in x.split(' ')])

dfthree['university_name'] = dfthree['university_name'].apply(unameformat)
dfthree.reset_index(drop=True, inplace=True)

In [598]:
# save results to csv

dfthree.to_csv('MostRecentRankingsUS.csv', sep=',', encoding='utf-8', index=False)

In [619]:
# save results to html for web
savecols = ['weighted_rank','university_name']

htmltext = dfthree[savecols].to_html(index=False)

In [620]:
with open('rankingstable.html', mode='w') as f:
        f.write(htmltext)

In [599]:
# what universities from smallest rankings set (shanghai at 146) were left out?

dfshanghai['university_name'][~(dfshanghai['university_name'].isin(dfthree['university_name'].str.lower()))]

15                   university california san francisco
16                         university michigan ann arbor
17                          university wisconsin madison
20                  university illinois urbana champaign
21                      university minnesota twin cities
23                    washington university in st. louis
24                                rockefeller university
30     university texas southwestern medical center d...
35         pennsylvania state university university park
36                      purdue university west lafayette
38     rutgers  state university new jersey new bruns...
39                        ohio state university columbus
40                      university pittsburgh pittsburgh
50                                  texas a&m university
63                               baylor college medicine
53                     icahn school medicine mount sinai
60                        indiana university bloomington
54                                   mayo medical school
59         university texas m. d. anderson cancer center
56                      university massachusetts amherst
57     university massachusetts medical school worcester
65               north carolina state university raleigh
72                  oregon health and science university
74                               university hawaii manoa
69                      virginia commonwealth university
100                            colorado state university
83     indiana university purdue university indianapolis
92                louisiana state university baton rouge
94                     university new mexico albuquerque
82        university texas health science center houston
95         university buffalo  state university new york
81                         university alabama birmingham
97                                     university kansas
79                                   university kentucky
101                        university maryland baltimore
85                           university nebraska lincoln
89                    university south carolina columbia
112                             brigham young university
108                city university new york city college
117    university texas health science center san ant...
109                          thomas jefferson university
106        university albany (state university new york)
119                           university central florida
107                           university colorado denver
102                         university missouri columbia
123                          university montana missoula
116                      university new hampshire durham
110                                   university vermont
121                                   university wyoming
122                          washington state university
141                    medical university south carolina
129                            oklahoma state university
139    state university new york health science cente...
138                                texas tech university
127            university texas medical branch galveston
126                     university arkansas fayetteville
136                      university arkansas little rock
135                           university oklahoma norman
144                              university rhode island
134                                utah state university
Name: university_name, dtype: object